<div class="card mb-5 mb-xl-10">
    <div class="card-body pt-9 pb-0">
        <div class="d-sm-flex mb-3 w-100">
            <div class="w-sm-25 w-100 text-center">
                <div class="symbol symbol-100px symbol-lg-160px symbol-fixed position-relative">
                    <img [src]="noAvatar" alt="image">
                    <div class="position-absolute translate-middle bottom-0 start-100 mb-6 bg-success rounded-circle border border-4 border-white h-20px w-20px"></div>
                </div>
            </div>
            <div class="w-sm-75 w-100">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
