<div
  [ngClass]="footerContainerCssClasses"
  class="
    text-center
  "
>
  <div class="text-dark order-2 order-md-1">
    <span class="text-muted fw-bold me-2">2022 &copy;</span>
    <a class="text-gray-800 text-hover-primary cursor-pointer"> G53 </a>
  </div>
</div>
