<input readonly type="text" name="selected" class="form-control date-range"
    [locale]="{format:'DD/MM/YYYY',firstDay:1}" 
      ngxDaterangepickerMd 
      [(ngModel)]="selected"
      [autoApply]="true"
      [keepCalendarOpeningWithRange]="true"
      [alwaysShowCalendars]="true"
      [showWeekNumbers]="true"
      [ranges]="ranges"
      (change)="chooseTime($event)"
      />


<!-- <div class="dp-hidden position-absolute">
    <div class="input-group">
        <input name="datepicker" class="form-control" ngbDatepicker #datepicker="ngbDatepicker" [autoClose]="'outside'"
            (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden"
            [startDate]="fromDate!" tabindex="-1" />

        <ng-template #t let-date let-focused="focused">
            <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                (mouseleave)="hoveredDate = null">
                {{ date.day }}
            </span>
        </ng-template>
    </div>
</div>
<div class="relative">
    <i class='bx bx-calendar icon-down absolute fs--16 pointer' (click)="datepicker.toggle()"></i>
    <input #dpFromDate class="form-control ps-10 form-date form-control-sm fw-normal" readonly placeholder="Chọn thời gian" name="dpFromDate"
     (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
     [value]="getValue()"
    (click)="datepicker.toggle()">
</div>  -->