.dp-hidden {
    width: 0;
    margin: 0;
    border: none;
    padding: 0;
}

.form-control {
    border: 1px solid #EFF2F5;
    border-radius: 8px;
}

.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}

.custom-day.focused {
    background-color: #e6e6e6;
}

.custom-day.range,
.custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
}

.custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
}

.ngb-dp-weekday {
    color: #0dcaf0;
}

.bx-calendar {
    position: absolute;
    top: 30%;
    margin-left: 10px;
}

// ::ng-deep .ngb-dp-day.disabled {
//     .custom-day {
//         color: #B5B5C3 !important;
//     }
// }