<div class="table-responsive table-bordered">
    <table class="table table-row-gray-300 align-middle gs-0 gy-4">
        <thead>
            <tr class="fw-bolder text-muted text-nowrap">
                <th class="w-25px">
                    <div class="form-check form-check-sm form-check-custom form-check-solid">
                        <input class="check-box" type="checkbox"/>
                    </div>
                </th>
                <th class="min-w-50px text-gray-900 fw-bold">ID</th>
                <th class="min-w-140px text-gray-900 fw-bold">Tên dịch vụ</th>
                <th class="min-w-140px text-gray-900 fw-bold">Giá</th>
                <th class="min-w-140px text-gray-900 fw-bold">Thời gian tạo</th>

                <th class="min-w-100px text-gray-900 fw-bold">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let booking of listBooking; index as i">
                <td>
                    <div class="form-check form-check-sm form-check-custom form-check-solid">
                        <input class="check-box" type="checkbox"/>
                    </div>
                </td>
                <td>
                    <span class="fs--13 text-gray-600">{{i+1}}</span>
                </td>
                <td class="text-nowrap">
                    <h3 class="fs--13 fw-bolder text-gray-900 mb-1">{{i == 1 ? 'Cơm': 'Đồ ăn vặt'}}</h3>
                </td>
                <td class="text-nowrap">
                    <h3 class="fs--13 fw-bolder text-gray-900 mb-1">25.000</h3>
                </td>
                <td class="text-nowrap">
                    21/10/2022
                </td>
                <td class="text-center">
                    <div ngbDropdown placement="bottom-right" class="d-inline-block action">
                        <a type="button" class="btn btn-outline-primary btn-sm" id="action" ngbDropdownToggle><i
                                class='bx bx-dots-vertical-rounded text-gray-900 cursor-pointer'></i></a>
                        <div ngbDropdownMenu aria-labelledby="action">
                            <!-- <button ngbDropdownItem class="action-item br--8" *ngIf="booking.booking != 1">
                                <span>Duyệt</span>
                            </button> -->
                            <button ngbDropdownItem class="action-item br--8" *ngIf="booking.booking != 1" (click)="openModal(content)">
                                <span>Chỉnh sửa</span>
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<ng-template #content let-modal>
        <div class="modal-header">
            <h4  class="fs--18">Chỉnh sửa</h4>
        </div>
        <div class="modal-body pt-0">
            <form [formGroup]="formAccount" class="form">
                <div class="card-body border-top px-9 pt-9 pb-4">
                    <div class="row mb-6">
                        <label class="col-sm-3 col-form-label required fw-bold fs-6">Tên khách hàng</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control form-control-sm" placeholder="Nhập họ và tên"
                                formControlName="name" value="Đồ ăn vặt"/>
                        </div>
                    </div>
                    <div class="row mb-6">
                        <label class="col-sm-3 col-form-label required fw-bold fs-6">Giá</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control form-control-sm" readonly placeholder="Nhập tên phòng"
                                formControlName="user_name" value="25000"/>
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-end px-9">
                    <button type="button" class="btn btn-secondary br--8 fs--14 btn-sm me-3" (click)="modal.close('close')">
                        <i class='bx bx-exit me-1 fs--20 fw-bold'></i>Hủy</button>
                    <button type="button" class="btn btn-primary btn-sm fs--14">
                        <i class='bx bx-save fs--20'></i>Lưu
                    </button>
                </div>
            </form>
        </div>
</ng-template>