<!-- Dashboard -->
<!-- <div class="menu-item">
    <a class="menu-link without-sub"><span class="menu-icon">
            <span [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'" class="svg-icon svg-icon-2"></span>
        </span>
        <span class="menu-title" translate="MENU.DASHBOARD"></span></a>
</div> -->

<!-- Accounts -->
<ng-container *ngFor="let item of sidebarnavItems">
    <ng-template [ngIf]="item.subMenu.length > 0 && commonService.checkPermission(item.permissionName)">
        <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
            <span class="menu-link">
                <span class="menu-icon">
                    <span class="svg-icon svg-icon-2">
                        <i class="{{item.class}} fs-1"></i>
                    </span>
                </span>
                <span class="menu-title">{{item.title}}</span>
                <span class="menu-arrow"></span>
            </span>
            <div class="menu-sub menu-sub-accordion" *ngFor="let subItem of item.subMenu">
                <div class="menu-item" *ngIf="commonService.checkPermission(subItem.permissionName)">
                    <a class="menu-link without-sub" [routerLink]="subItem.path" routerLinkActive="active">
                        <span class="menu-bullet" *ngIf="!subItem.class">
                            <span class="bullet bullet-dot"></span>
                        </span>
                        <span class="menu-icon" *ngIf="subItem.class">
                            <span class="svg-icon svg-icon-2">
                                <i class="{{subItem.class}} fs-1"></i>
                            </span>
                        </span>
                        <span class="menu-title">{{subItem.title}}</span>
                    </a>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template [ngIf]="item.subMenu.length <= 0 && commonService.checkPermission(item.permissionName)">
        <div class="menu-item">
            <a class="menu-link without-sub" [routerLink]="item.path" routerLinkActive="active">
                <span class="menu-bullet" *ngIf="!item.class">
                    <span class="bullet bullet-dot"></span>
                </span>
                <span class="menu-icon" *ngIf="item.class">
                    <span class="svg-icon svg-icon-2">
                        <i class="{{item.class}} fs-1"></i>
                    </span>
                </span>
                <span class="menu-title">{{item.title}}</span>
            </a>
        </div>
    </ng-template>
</ng-container>