<h2 class="card-title align-items-start flex-column" style="padding-bottom: 10px;">
    Danh sách nhân viên
</h2>
<div class="card mb-5 mb-xl-8">
    <div class="card-header border-0 pt-5">
        <div class="card-toolbar" *ngIf="commonService.checkPermission('ADMIN')">
            <button class="btn btn-sm btn-light-primary btn-create fs--14 br--8" (click)="openModal(3)">
                <span class="svg-icon svg-icon-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1"
                            transform="rotate(-90 11.364 20.364)" fill="currentColor"></rect>
                        <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="currentColor"></rect>
                    </svg>
                </span>
                Thêm nhân viên</button>
        </div>
        <div class="row w-100 my-3">
            <div class="form-group col-sm-3">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-sm" [(ngModel)]="emailSearch" placeholder="Nhập email" />
                </div>
            </div>
            <div class="form-group col-sm-3">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-sm" [(ngModel)]="nameSearch" placeholder="Nhập tên" />
                </div>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-light-primary btn-sm w-auto br--8" (click)="onSubmit()"> <i
                        class="bi bi-funnel-fill"></i>Tìm kiếm</button>
            </div>
        </div>
        <!-- <div class="card-toolbar card-action w-100" *ngIf="commonService.checkPermission(permission.update)">
            <button class="btn btn-light-primary btn-sm br--8 card-action-btn fs--14"><i class='bx bx-lock fs--17'></i> Inactive
                More</button>
            <button class="btn btn-light-primary btn-sm br--8 card-action-btn mx-4 fs--14"><i class='bx bx-lock-open fs--17'></i>
                Active More</button>
        </div> -->
    </div>
    <div class="card-body py-3 mt-3">
        <ng-container *ngIf="listsUser && listsUser.length > 0">
            <div class="table-responsive">
                <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4 mb-10">
                    <thead>
                        <tr class="fw-bolder text-muted text-nowrap">
                            <!-- <th class="w-25px">
                                <div class="form-check form-check-sm form-check-custom">
                                    <input class="check-box cursor-pointer" type="checkbox"
                                        (change)="handleSelectOrderItem($event, true)"
                                        [checked]="commonService.checkExistInSelectOrder(userIds, listsUser, true)" />
                                </div>
                            </th> -->
                            <th class="ps-4 min-w-325px rounded-start">Thông tin</th>
                            <th class="min-w-125px">Số điện thoại</th>
                            <th class="min-w-125px">Số căn cước</th>
                            <th class="min-w-125px">Tiền lương</th>
                            <th class="min-w-125px">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of listsUser; index as key">
                            <!-- <td>
                                <div class="form-check form-check-sm form-check-custom">
                                    <input class="check-box cursor-pointer" type="checkbox"
                                        (change)="handleSelectOrderItem($event, false, user.id)"
                                        [checked]="commonService.checkExistInSelectOrder(userIds, listsUser, false, user.id)" />
                                </div>
                            </td> -->
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="symbol symbol-50px me-5">
                                        <img src="assets/images/no-avatar.png" class="" alt="">
                                    </div>
                                    <div class="d-flex justify-content-start flex-column">
                                        <a class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                                            {{ user.fullName}}
                                        </a>
                                        <p class="text-dark fs--14 mb-0"><span class="fw-bold me-2">Email:</span>  {{ user.email
                                            }}</p>
                                        <p class="text-dark fs--14 mb-0"><span class="fw-bold me-2">Ngày sinh:</span>  {{ commonService.formatTime(user.birthDay, "DD/MM/YYYY")}}</p>
                                        <p class="text-dark fs--14 mb-0"><span class="fw-bold me-2">Giới tính:</span>  {{user.gender ? 'Nam': 'Nữ'}}</p>

                                    </div>
                                </div>
                            </td>
                            <td>
                                <span class="text-muted fw-bold text-muted d-block fs--14">{{
                                    user.phone}}</span>
                            </td>
                            <td>
                                <span class="text-muted fw-bold text-muted d-block fs--14">{{ user.identityCardNumber || 'Chưa cập
                                    nhật'}}</span>
                            </td>
                            <td>
                                <span
                                    class="text-muted fw-bold fs--14 fw-bold mt-2 me-2">{{ user.salary | money }}</span>
                            </td>
                            <td>
                                <div ngbDropdown placement="bottom-right" class="d-inline-block action" *ngIf="user.id != id">
                                    <a type="button" class="btn btn-outline-primary btn-sm" id="action"
                                        ngbDropdownToggle><i
                                            class='bx bx-dots-vertical-rounded text-gray-900 cursor-pointer'></i></a>
                                    <div ngbDropdownMenu aria-labelledby="action">
                                        <ng-template [ngIf]="commonService.checkPermission('ADMIN')">
                                            <button ngbDropdownItem class="py-4 br--8" (click)="openModal(1, user.id)">
                                                <i
                                                    class='bx bx-bar-chart-square fs--17 me-1 text-gray-900 align-middle'></i>
                                                <span class="fs-17">Chỉnh sửa</span>
                                            </button>
                                            <!-- <button ngbDropdownItem class="py-4"
                                                (click)="handleActiveAccount(false, user.id)" *ngIf="user.status != 3">
                                                <i class='bx bx-lock-open fs--17 text-gray-900'></i>
                                                Active tài khoản
                                            </button> -->
                                        </ng-template>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="mt-5 w-100">
                <app-pagination [paging]="paging" (change)="changePage($event)"></app-pagination>
            </div>
        </ng-container>
        <div class="text-center h-100 m-auto" *ngIf="!listsUser || listsUser.length == 0">
            <img src="../../../../assets/images/EmptyState.jpg" alt="">
            <p class="fs-3 text-gray-600 fw-bold">Không có dữ liệu tương ứng</p>
        </div>
    </div>
</div>

<app-loading [isLoading]="isLoading"></app-loading>
<app-form [isLoading]="isLoading" [error]="error" [idStaff]="idStaff" [typeModal]="typeModal" (createOrUpdate)="handleCreateOrUpdate($event)"></app-form>
