/* You can add global styles to this file, and also import other style files */
@import "./assets/sass/style";

// Replace above style with this SCSS file to enable dark mode styles
//@import "./assets/sass/style.dark";

@import "./assets/sass/style.angular.scss";

// boxicons
@import url("../src/assets/icons/boxicons/css/boxicons.min.css");


// CUSTOMER

@media only screen and (min-width: 992px) {
    .container-xxl {
        padding:  0 15px;
    }
}