<ng-template [ngIf]="token">
    <!-- <div class="menu-item px-3" *ngIf="userName">
        <div class="menu-content d-flex align-items-center px-3">
            <div class="symbol symbol-50px me-5">
                <img alt="Logo" [src]="(avatar && avatar != 'null')? avatar : 'assets/images/no-avatar.png'" />
            </div>
    
            <div class="d-flex flex-column">
                <div class="fw-bolder d-flex align-items-center fs-5">
                    {{ userName }}
                    <span class="badge badge-light-success fw-bolder fs-8 px-2 py-1 ms-2">Pro</span>
                </div>
                <a class="fw-bold text-muted text-hover-primary fs-7 cursor-pointer">
                    {{ email }}
                </a>
            </div>
        </div>
    </div> -->
    
    <!-- <div class="separator my-2"></div> -->

    <div class="menu-item px-5 my-1">
        <a routerLink="/profile/overview" class="menu-link px-5" >
            Thông tin cá nhân
        </a>
    </div>
    <div class="menu-item px-5">
        <a (click)="logout()" class="menu-link px-5 cursor-pointer"> Đăng xuất </a>
    </div>
</ng-template>


<div class="menu-item px-5" *ngIf="!token">
    <a (click)="login()" class="menu-link px-5 cursor-pointer"> Đăng nhập </a>
</div>

