<h2 class="card-title" style="padding-bottom: 10px;">
    Danh sách phòng
</h2>
<ng-container>
    <div class="card h-100 pt-4 mb-2">
        <div class="card-header border-bottom-0 d-flex justify-content-md-between align-content-center">
            <div class="card-toolbar" *ngIf="commonService.checkPermission('STAFF')">
                <button class="btn btn-sm btn-light-primary btn-create fs--14 br--8 me-4" (click)="openModal(content)">
                    <span class="svg-icon svg-icon-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1"
                                transform="rotate(-90 11.364 20.364)" fill="currentColor"></rect>
                            <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="currentColor"></rect>
                        </svg>
                    </span>
                    Thêm phòng</button>
            </div>
        </div>
        <div class="card-header border-0">
            <div class="w-100 mt-5 align-top row">
                <div class="form-group mt-4 col-sm-3">
                    <input type="text" id="code" name="code" class="form-control form-control-sm fw-normal"
                        placeholder="Nhập tên phòng" [(ngModel)]="code" />
                </div>
                <div class="form-group mt-4 col-sm-3">
                    <ng-select [items]="listType" bindLabel="roomTypeName" bindValue="id"
                            placeholder="Chọn loại phòng" class="form-select-sm p-0 border-0 form-control-sm"
                            [(ngModel)]="typeId">
                            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                <span>{{item.roomTypeName}}</span>
                            </ng-template>
                        </ng-select>
                </div>
                <div class="d-flex align-items-start mt-4 col-sm-5">
                    <button class="btn btn-light-primary d-flex align-items-center btn-sm w-auto me-3 br--8"
                        (click)="resetForm()">
                        <i class='bx bx-refresh fs--17'></i>Thiết lập lại</button>
                    <button class="btn btn-primary btn-sm w-auto br--8" (click)="filter()"> <i
                            class="bx bx-search fs--17"></i>Tìm kiếm</button>
                </div>
            </div>
        </div>
        <div class="card-body py-3 w-100 border-top-0 mt-6" *ngIf="listRoom?.length > 0; else noData">
            <div class="table-responsive table-bordered">
                <table class="table table-row-gray-300 align-middle gs-0 gy-4 mb-9">
                    <thead>
                        <tr class="fw-bolder text-muted text-nowrap">
                            <!-- <th class="w-25px">
                                <div class="form-check form-check-sm form-check-custom form-check-solid">
                                    <input class="check-box" type="checkbox" />
                                </div>
                            </th> -->
                            <th class="min-w-50px text-gray-900 fw-bold">ID</th>
                            <th class="min-w-140px text-gray-900 fw-bold">Số phòng</th>
                            <th class="min-w-140px text-gray-900 fw-bold">Mô tả</th>
                            <th class="min-w-140px text-gray-900 fw-bold">Loại phòng</th>
                            <th class="min-w-140px text-gray-900 fw-bold">Trạng thái</th>
                            <th class="min-w-140px text-gray-900 fw-bold">Thời gian tạo</th>
                            <th class="min-w-100px text-gray-900 fw-bold" *ngIf="commonService.checkPermission('STAFF')">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let type of listRoom; index as i">
                            <!-- <td>
                                <div class="form-check form-check-sm form-check-custom form-check-solid">
                                    <input class="check-box" type="checkbox" />
                                </div>
                            </td> -->
                            <td>
                                <span class="fs--13 text-gray-900">{{type.id}}</span>
                            </td>
                            <td class="text-nowrap">
                                <h3 class="fs--13 fw-bolder text-gray-900 mb-1">{{type.roomNo}}</h3>
                            </td>
                            <td class="fs--13 text-gray-900">
                                {{type.roomDescription}}
                            </td>
                            <td class="fs--13 text-gray-900">
                                {{type?.roomTypeMap?.roomTypeName}}
                            </td>
                            <td class="fs--13">
                                <p class="mb-0 {{getClassStatus(type.status)}}">{{getRoomStatus(type.status)}}</p>
                            </td>
                            <td class="fs--13 text-gray-900">
                                {{commonService.formatTime(type.createdDate, 'DD/MM/YYYY')}}
                            </td>
                            <td class="text-center" *ngIf="commonService.checkPermission('STAFF')">
                                <div ngbDropdown placement="bottom-right" class="d-inline-block action">
                                    <a type="button" class="btn btn-outline-primary btn-sm" id="action"
                                        ngbDropdownToggle><i
                                            class='bx bx-dots-vertical-rounded text-gray-900 cursor-pointer'></i></a>
                                    <div ngbDropdownMenu aria-labelledby="action">
                                        <button ngbDropdownItem class="action-item br--8" *ngIf="commonService.checkPermission('STAFF')"
                                            (click)="openModal(content,type.id)">
                                            <span>Chỉnh sửa</span>
                                        </button>
                                        <!-- <button ngbDropdownItem class="action-item br--8" *ngIf="commonService.checkPermission('ADMIN')"
                                            (click)="deleteRoomType(type.id)">
                                            <span></span>
                                        </button> -->
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="mt-5 w-100" *ngIf="paging.total > 0">
                <app-pagination [paging]="paging" (change)="changePage($event)"></app-pagination>
            </div>
        </div>
        <ng-template #noData>
            <div class="text-center h-100 m-auto" *ngIf="!isLoading">
                <img src="../../../../assets/images/EmptyState.jpg" alt="">
                <p class="fs-3 text-gray-900 fw-bold"> Không có dữ liệu phòng</p>
            </div>
        </ng-template>
    </div>
</ng-container>

<ng-template #content let-modal>
    <div class="modal-header">
        <h3 class="fs--18">{{detail ? 'Chỉnh sửa':'Thêm mới'}}</h3>
    </div>
    <div class="modal-body pt-0">
        <form [formGroup]="formRoom" class="form">
            <div class="card-body border-top px-9 pt-9 pb-4">
                <div class="row mb-6">
                    <label class="col-sm-2 col-form-label required fw-bold fs-6">Tên phòng</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" formControlName="roomNo"
                            placeholder="Nhập tên phòng" 
                            [ngClass]="{'is-invalid': roomNo.invalid && (roomNo.touched || roomNo.dirty)}"/>
                        <ng-container *ngFor="let validation of validator_value.roomNo">
                            <span class="label text-danger" *ngIf="dirtyOrTouchShowError(roomNo, validation.type)">
                                {{validation.message}}
                            </span>
                        </ng-container>
                    </div>

                </div>
                <div class="row mb-6">
                    <label class="col-sm-2 col-form-label required fw-bold fs-6">Tầng</label>
                    <div class="col-sm-10">
                        <ng-select [items]="listFloor" bindLabel="name" bindValue="id" placeholder="Chọn tầng"
                        [ngClass]="{'is-invalid': floor.invalid && (floor.touched || floor.dirty)}"
                            class="form-select-sm p-0 border-0 form-control-sm" formControlName="floor">
                            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                <span>{{item.name}}</span>
                            </ng-template>
                        </ng-select>
                        <ng-container *ngFor="let validation of validator_value.floor">
                            <span class="label text-danger" *ngIf="dirtyOrTouchShowError(floor, validation.type)">
                                {{validation.message}}
                            </span>
                        </ng-container>
                    </div>
                </div>
                <div class="row mb-6">
                    <label class="col-sm-2 col-form-label fw-bold fs-6">Mô tả</label>
                    <div class="col-sm-10">
                        <textarea type="text" class="form-control form-control-sm" rows="5" placeholder="Nhập mô tả"
                            formControlName="roomDescription"
                            [ngClass]="{'is-invalid': roomDescription.invalid && (roomDescription.touched || roomDescription.dirty)}"></textarea>
                        <ng-container *ngFor="let validation of validator_value.roomDescription">
                            <span class="label text-danger" *ngIf="dirtyOrTouchShowError(roomDescription, validation.type)">
                                {{validation.message}}
                            </span>
                        </ng-container>
                    </div>
                </div>
                <div class="row mb-6">
                    <label class="col-sm-2 col-form-label required fw-bold fs-6">Loại phòng</label>
                    <div class="col-sm-10">
                        <ng-select [items]="listType" bindLabel="roomTypeName" bindValue="id"
                            placeholder="Chọn loại phòng" class="form-select-sm p-0 border-0 form-control-sm"
                            formControlName="type"
                            [ngClass]="{'is-invalid': type.invalid && (type.touched || type.dirty)}">
                            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                <span>{{item.roomTypeName}}</span>
                            </ng-template>
                        </ng-select>
                        <ng-container *ngFor="let validation of validator_value.type">
                            <span class="label text-danger" *ngIf="dirtyOrTouchShowError(type, validation.type)">
                                {{validation.message}}
                            </span>
                        </ng-container>
                    </div>
                </div>

                <div class="row mb-6">
                    <label class="col-sm-2 col-form-label required fw-bold fs-6">Trạng thái</label>
                    <div class="col-sm-10">
                        <ng-select [items]="listStatus" bindLabel="label" bindValue="value" placeholder="Chọn trạng thái"
                        [ngClass]="{'is-invalid': status.invalid && (status.touched || status.dirty)}"
                            class="form-select-sm p-0 border-0 form-control-sm" formControlName="status">
                        </ng-select>
                        <ng-container *ngFor="let validation of validator_value.status">
                            <span class="label text-danger" *ngIf="dirtyOrTouchShowError(status, validation.type)">
                                {{validation.message}}
                            </span>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-end px-9">
                <button type="button" class="btn btn-secondary br--8 fs--14 btn-sm me-3" (click)="modal.close('close')">
                    <i class='bx bx-exit me-1 fs--20 fw-bold'></i>Hủy</button>
                <button type="button" class="btn btn-primary btn-sm fs--14" (click)="onSubmit()"
                    [disabled]="isLoading || formRoom.invalid">
                    <i class='bx bx-save fs--20'></i>Lưu
                </button>
            </div>
        </form>
    </div>
</ng-template>


<app-loading [isLoading]="isLoading"></app-loading>