<h2 class="card-title" style="padding-bottom: 10px;">
    Loại dịch vụ
</h2>
<div class="card pt-4 mb-2">
    <div class="card-body mb-3 border-0 py-2">
        <div class="card-header px-0 pb-7">
            <div class="card-toolbar mb-5"  *ngIf="commonService.checkPermission('STAFF')">
                <button class="btn btn-sm btn-light-primary btn-create fs--14 br--8 me-4" (click)="openModal(content)">
                    <span class="svg-icon svg-icon-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1"
                                transform="rotate(-90 11.364 20.364)" fill="currentColor"></rect>
                            <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="currentColor"></rect>
                        </svg>
                    </span>
                    Thêm mới</button>
            </div>
            <div class="w-100 align-top row">
                <div class="form-group mt-4 col-sm-3">
                    <input type="text" id="code" name="code" class="form-control form-control-sm fw-normal"
                        placeholder="Nhập tên dịch vụ" [(ngModel)]="code" />
                </div>
                <div class="d-flex align-items-start mt-4 col-sm-5">
                    <button class="btn btn-light-primary d-flex align-items-center btn-sm w-auto me-3 br--8"
                        (click)="resetForm()">
                        <i class='bx bx-refresh fs--17'></i>Thiết lập lại</button>
                    <button class="btn btn-primary btn-sm w-auto br--8" (click)="filter()"> <i
                            class="bx bx-search fs--17"></i>Tìm kiếm</button>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-container *ngIf="!isLoading">
    <div class="card h-100 pt-4 mb-2">
        <div class="card-body py-3 h-auto" *ngIf="serviceType?.length > 0">
            <div class="table-responsive table-bordered pb-5">
                <table class="table table-row-gray-300 align-middle gs-0 gy-4 mb-6">
                    <thead>
                        <tr class="fw-bolder text-muted text-nowrap">
                            <!-- <th class="w-25px">
                                <div class="form-check form-check-sm form-check-custom form-check-solid">
                                    <input class="check-box" type="checkbox" />
                                </div>
                            </th> -->
                            <th class="min-w-50px text-gray-900 fw-bold">ID</th>
                            <th class="min-w-140px text-gray-900 fw-bold">Tên dịch vụ</th>
                            <th class="min-w-140px text-gray-900 fw-bold">Mô tả chi tiết</th>
                            <th class="min-w-140px text-gray-900 fw-bold">Thời gian tạo/chỉnh sửa</th>
                            <th class="min-w-100px text-gray-900 fw-bold" *ngIf="commonService.checkPermission('STAFF')">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let type of serviceType; index as i">
                            <!-- <td>
                                <div class="form-check form-check-sm form-check-custom form-check-solid">
                                    <input class="check-box" type="checkbox" />
                                </div>
                            </td> -->
                            <td>
                                <span class="fs--13 text-gray-600">{{type.id}}</span>
                            </td>
                            <td>
                                <h3 class="fs--13 fw-bolder text-gray-900 mb-0"
                                    style="max-width: 200px;width: 200px; white-space: normal;">{{type.name}}</h3>
                            </td>
                            <td>
                                <span class="fs--13 fw-bolder text-gray-900 mb-0"
                                    style="max-width: 200px;width: 200px; white-space: normal;">{{type.typeDescribe}}</span>
                            </td>
                            <td class="text-nowrap">
                                <p class="fs--13 fw-bolder text-gray-900 mb-0">
                                    {{commonService.formatTime(type.createdDate, "DD/MM/YYYY")}}</p>
                            </td>
                            <td class="text-center">
                                <div ngbDropdown placement="bottom-right" class="d-inline-block action"  *ngIf="commonService.checkPermission('STAFF')">
                                    <a type="button" class="btn btn-outline-primary btn-sm" id="action"
                                        ngbDropdownToggle><i
                                            class='bx bx-dots-vertical-rounded text-gray-900 cursor-pointer'></i></a>
                                    <div ngbDropdownMenu aria-labelledby="action">
                                        <button ngbDropdownItem class="action-item br--8"  *ngIf="commonService.checkPermission('STAFF')"
                                            (click)="openModal(content, type.id)">
                                            <span>Chỉnh sửa</span>
                                        </button>
                                        <!-- <button ngbDropdownItem class="action-item br--8"  *ngIf="commonService.checkPermission('ADMIN')"
                                            (click)="delete(type.id)">
                                            <span>Xóa</span>
                                        </button> -->
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <app-pagination [paging]="paging" class="mt-1" (change)="changePage($event)"></app-pagination>
        </div>
        <div class="text-center h-100 m-auto " *ngIf="!serviceType || serviceType?.length == 0">
            <img src="../../../../assets/images/EmptyState.jpg" alt="">
            <p class="fs-3 text-gray-600 fw-bold">Không có dữ liệu tương ứng</p>
        </div>
    </div>
</ng-container>

<ng-template #content let-modal>
    <div class="modal-header">
        <h3 class="fs--18">{{detail ? 'Chỉnh sửa loại dịch vụ':'Thêm mới loại dịch vụ'}}</h3>
    </div>
    <div class="modal-body pt-0">
        <form [formGroup]="form" class="form">
            <div class="card-body border-top px-9 pt-9 pb-4">
                <div class="row mb-6">
                    <label class="col-sm-3 col-form-label required fw-bold fs-6">Tên loại dịch vụ</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control form-control-sm" formControlName="name"
                            [ngClass]="{'is-invalid': commonService.dirtyOrTouchFieldCheck('name', form)}"
                            placeholder="Nhập tên dịch vụ"
                            (focusout)="commonService.onTrimOutForm($event, form, 'name')" />
                        <ng-container *ngFor="let validation of validator_value.name">
                            <span class="label text-danger"
                                *ngIf="commonService.dirtyOrTouchShowError('name', validation.type, form)">
                                {{validation.message}}
                            </span>
                        </ng-container>
                    </div>

                </div>
                <div class="row mb-6">
                    <label class="col-sm-3 col-form-label fw-bold fs-6">Mô tả chi tiết</label>
                    <div class="col-sm-9">
                        <textarea name="typeDescribe" id="typeDescribe" formControlName="typeDescribe" rows="5" cols="3"
                            class="w-100 form-control-sm"
                            (focusout)="commonService.onTrimOutForm($event, form, 'typeDescribe')"></textarea>
                    </div>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-end px-9">
                <button type="button" class="btn btn-secondary br--8 fs--14 btn-sm me-3" (click)="modal.close('close')">
                    <i class='bx bx-exit me-1 fs--20 fw-bold'></i>Hủy</button>
                <button type="button" class="btn btn-primary btn-sm fs--14" (click)="onSubmit()"
                    [disabled]="isLoading || form.invalid">
                    <i class='bx bx-save fs--20'></i>Lưu
                </button>
            </div>
        </form>
    </div>
</ng-template>

<app-loading [isLoading]="isLoading"></app-loading>