.action-page {
    #action {
        color: #7E8299;
        font-weight: 500;
        width: 60px;

        &::after {
            content: "";
            border: none;
        }

        i {
            color: #7E8299;
            font-weight: 500;
        }

        &:hover,
        &:active,
        &:focus,
        &:focus-visible,
        &:focus-within,
        &:visited,
        &:target {
            color: #fff;

            i {
                color: #fff;
            }
        }
    }

    ::ng-deep .dropdown-menu {
        width: 60px;
        min-width: 60px !important;
    }

    .action-item {
        margin: 0px 8px;
        padding: 12px 8px;
        border-radius: 8px;
        background: #fff;
        max-width: 60px;
        width: 40px;

        &:hover {
            background: #F1FAFF;
            color: #009EF7;
        }
    }
}