<div class="d-flex justify-content-between">
    <div class="d-flex align-items-center">
        <div ngbDropdown placement="bottom-left" class="d-inline-block action-page ms-3">
            <button type="button" class="btn btn-light-primary btn-sm" id="action" ngbDropdownToggle>
                {{paging.pageSize}}<i class='bx bx-chevron-down fs--20'></i></button>
            <div ngbDropdownMenu aria-labelledby="action">
                <button ngbDropdownItem class="action-item text-center fs--14" *ngFor="let size of pageSize" (click)="changePageSize(size)">
                    <span>{{size}}</span>
                </button>
            </div>
        </div>
        <p class="mb-0 ms-2">Page: <span class="text-danger"><b>{{paging.page}}</b></span> / <b>{{convertPage(paging.total,paging.pageSize)}}</b> <span
            class="ms-2">Total:
            <b>{{paging.total}}</b></span></p>
    </div>
    <ngb-pagination class="float-right paginate" [collectionSize]="paging.total" [(page)]="paging.page" [pageSize]="paging.pageSize"
        (pageChange)="changePage()" [rotate]="true" [boundaryLinks]="true" [maxSize]="5"></ngb-pagination>
</div>

