<div class="
    d-flex
    flex-column flex-column-fluid
    bgi-position-y-bottom
    position-x-center
    bgi-no-repeat bgi-size-contain bgi-attachment-fixed
  ">
    <div class="d-flex flex-column flex-column-fluid text-center p-10">
        <!-- <a routerLink="/" class="mb-5 cursor-pointer">
            <img alt="Logo" src="../../../assets/media/logos/logoDimuadi.svg" class="h-100px mb-5" />
        </a> -->
        <div class="pt-5">
            <router-outlet></router-outlet>

            <!-- <div class="text-center">
        <a routerLink="/"
          class="btn btn-lg btn-primary fw-bolder cursor-pointer"
        >
          Go to homepage
        </a>
      </div> -->
        </div>
    </div>

    <!-- <div class="d-flex flex-center flex-column-auto p-10">
        <div class="d-flex align-items-center fw-bold fs-6">
            <a href="https://keenthemes.com" class="text-muted text-hover-primary px-2">
                About
            </a>
            <a href="mailto:support@keenthemes.com" class="text-muted text-hover-primary px-2">
                Contact
            </a>
            <a href="https://1.envato.market/EA4JP" class="text-muted text-hover-primary px-2">
                Contact Us
            </a>
        </div>
    </div> -->
</div>