<app-profile-detail [isLoading]="isLoading" [profileInfo]="profileInfo" (save)="handleUpdateProfile($event)"></app-profile-detail>
<!-- <app-profile-password [isLoading]="isLoading" [profileInfo]="profileInfo"></app-profile-password> -->