.ac-fieldset {
    padding: 20px;
    border: solid 1px #ccc;
    border-radius: 8px 8px 0 0;
    margin-bottom: 20px;
}

.ac-fieldset legend {
    display: inline-block;
    width: auto;
    padding: 0 10px;
    font-size: 18px;
}

::ng-deep .ng-select.is-invalid .ng-select-container {
    border-color: #F1416C;
}