<h2 class="card-title" style="padding-bottom: 10px;">
    Tìm kiếm và đặt phòng
</h2>
<div class="card h-100 pt-4 mb-2" *ngIf="!isLoading">
    <div class="card-body py-3 w-100">
        <form [formGroup]="formSearch" *ngIf="roomAvailable.length <= 0">
            <div class="row mb-6">
                <div class="col-md-4">
                    <label class="col-form-label required pb-0 fw-bold fs-6">Thời gian</label>
                    <div class="px-0 form-group mt-4 ">
                        <app-date-picker (selectDate)="handleDate($event)" [time]="time"></app-date-picker>
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="col-form-label required pb-0 fw-bold fs-6">Số lượng người</label>
                    <div class="px-0 form-group mt-4">
                        <input type="text" id="checkIn" name="numberPassenger"
                            class="form-control form-control-sm fw-normal" numbersOnly [onlyNumber]="true" [max]="99"
                            maxlength="2" placeholder="Nhập số lượng người" formControlName="numberPassenger"
                            [ngClass]="{'is-invalid': numberPassenger.invalid && (numberPassenger.touched || numberPassenger.dirty) }" />
                        <ng-container *ngFor="let validation of validator_value">
                            <span class="label text-danger"
                                *ngIf="dirtyOrTouchShowError(numberPassenger, validation.type)">
                                {{validation.message}}
                            </span>
                        </ng-container>
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="col-form-label required pb-0 fw-bold fs-6">Tên loại phòng</label>
                    <div class="px-0 form-group mt-4">
                        <ng-select [items]="roomTypes" bindLabel="roomTypeName" bindValue="roomTypeName"
                            placeholder="Chọn loại phòng" formControlName="roomNo"
                            [ngClass]="{'is-invalid': roomNo.invalid && (roomNo.touched || roomNo.dirty) }"
                            class="form-select-sm w-100 p-0 border-0 form-control-sm">
                            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                <span>{{item.roomTypeName}} ({{item.numberCustomer}} người)</span>
                            </ng-template>
                        </ng-select>
                        <ng-container *ngFor="let validation of validator_value">
                            <span class="label text-danger" *ngIf="dirtyOrTouchShowError(roomNo, validation.type)">
                                {{validation.message}}
                            </span>
                        </ng-container>
                    </div>
                </div>

            </div>
            <div class="d-flex justify-content-end">
                <a class="btn btn-secondary br--8 fs--14 btn-sm me-3" [routerLink]="['/booking']">
                    <i class='bx bx-exit me-1 fs--20 fw-bold'></i>Hủy</a>
                <button class="btn btn-primary btn-sm fs--14" [disabled]="formSearch.invalid" (click)="search()"> <i
                        class='bx bx-right-arrow-alt fs--20'></i> Tiếp theo
                </button>
            </div>
        </form>

        <form [formGroup]="formBook" *ngIf="roomAvailable.length > 0">
            <fieldset class="ac-fieldset">
                <legend>Thông tin đặt phòng</legend>
                <div class="row mb-6">
                    <div class="col-md-4">
                        <label class="col-form-label required pb-0 fw-bold fs-6">Thời gian check in</label>
                        <div class="px-0 form-group mt-4 ">
                            <input type="date" id="checkIn" name="checkIn" readonly
                                class="form-control form-control-sm fw-normal bg-secondary"
                                placeholder="Chọn thời gian check in" formControlName="checkIn" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-form-label required pb-0 fw-bold fs-6">Thời gian check out</label>
                        <div class="px-0 form-group mt-4">
                            <input type="date" id="checkOut" name="checkOut" readonly
                                class="bg-secondary form-control form-control-sm fw-normal"
                                formControlName="checkOut" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-form-label required pb-0 fw-bold fs-6">Tên phòng</label>
                        <div class="px-0 form-group mt-4">
                            <ng-select [items]="roomAvailable" (change)="chooseRoom($event)" bindLabel="roomNo"
                                bindValue="roomId" placeholder="Chọn phòng" formControlName="roomId"
                                class="form-select-sm w-100 p-0 border-0 form-control-sm bg-secondary">
                                <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-clear="clear">
                                    <div class="mb-1">
                                        <p class="text-dark mb-0" style="margin-left: 10px">Phòng:{{item.roomNo}} - Giá:
                                            {{item.price | money}}</p>
                                    </div>

                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="ac-fieldset">
                <legend>Thông tin khách hàng</legend>
                <div class="row mb-6">
                    <div class="col-md-4">
                        <label class="col-form-label required pb-0 fw-bold fs-6">Họ</label>
                        <div class="px-0 form-group mt-4 ">
                            <input type="text" id="firstName" name="firstName"
                                class="form-control form-control-sm fw-normal" placeholder="Nhập họ khách hàng"
                                (focusout)="commonService.onTrimOutForm($event, formBook, 'firstName')"
                                [ngClass]="{'is-invalid': commonService.dirtyOrTouchFieldCheck('firstName', formBook)}"
                                formControlName="firstName" />
                            <ng-container *ngFor="let validation of validator_value">
                                <span class="label text-danger"
                                    *ngIf="dirtyOrTouchShowError(firstName, validation.type)">
                                    {{validation.message}}
                                </span>
                            </ng-container>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-form-label required pb-0 fw-bold fs-6">Tên khách hàng</label>
                        <div class="px-0 form-group mt-4">
                            <input type="text" id="lastName" name="lastName" placeholder="Nhập tên khách hàng"
                                class="form-control form-control-sm fw-normal" formControlName="lastName"
                                (focusout)="commonService.onTrimOutForm($event, formBook, 'lastName')"
                                [ngClass]="{'is-invalid': commonService.dirtyOrTouchFieldCheck('lastName', formBook)}" />
                            <ng-container *ngFor="let validation of validator_value">
                                <span class="label text-danger"
                                    *ngIf="dirtyOrTouchShowError(lastName, validation.type)">
                                    {{validation.message}}
                                </span>
                            </ng-container>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-form-label required pb-0 fw-bold fs-6">Email</label>
                        <div class="px-0 form-group mt-4">
                            <input type="email" id="email" name="email" placeholder="Nhập email khách hàng"
                                class="form-control form-control-sm fw-normal" formControlName="email"
                                (focusout)="commonService.onTrimOutForm($event, formBook, 'email')"
                                [ngClass]="{'is-invalid': commonService.dirtyOrTouchFieldCheck('email', formBook)}" />
                            <ng-container *ngFor="let validation of validator_value">
                                <span class="label text-danger" *ngIf="dirtyOrTouchShowError(email, validation.type)">
                                    {{validation.message}}
                                </span>
                            </ng-container>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-form-label required pb-0 fw-bold fs-6">Ngày sinh</label>
                        <div class="px-0 form-group mt-4">
                            <input type="date" id="birthDay" name="birthDay" placeholder="Nhập ngày sinh"
                                class="form-control form-control-sm fw-normal" formControlName="birthDay"
                                [ngClass]="{'is-invalid': commonService.dirtyOrTouchFieldCheck('birthDay', formBook)}" />
                            <ng-container *ngFor="let validation of validator_value">
                                <span class="label text-danger"
                                    *ngIf="dirtyOrTouchShowError(birthDay, validation.type)">
                                    {{validation.message}}
                                </span>
                            </ng-container>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-form-label required pb-0 fw-bold fs-6">Giới tính</label>
                        <div class="px-0 form-group mt-4">
                            <ng-select [items]="statusAccount" bindLabel="name" bindValue="id"
                                placeholder="Chọn giới tính" formControlName="gender"
                                [ngClass]="{'is-invalid': commonService.dirtyOrTouchFieldCheck('gender', formBook)}"
                                class="form-select-sm w-100 p-0 border-0 form-control-sm">
                            </ng-select>
                            <ng-container *ngFor="let validation of validator_value">
                                <span class="label text-danger" *ngIf="dirtyOrTouchShowError(gender, validation.type)">
                                    {{validation.message}}
                                </span>
                            </ng-container>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-form-label required pb-0 fw-bold fs-6">Số điện thoại</label>
                        <div class="px-0 form-group mt-4">
                            <input type="phone" id="phone" name="phone" placeholder="Nhập số điện thoại"
                                (focusout)="commonService.onTrimOutForm($event, formBook, 'phone')"
                                [ngClass]="{'is-invalid': commonService.dirtyOrTouchFieldCheck('phone', formBook)}"
                                class="form-control form-control-sm fw-normal" formControlName="phone" />
                            <ng-container *ngFor="let validation of validator_value">
                                <span class="label text-danger" *ngIf="dirtyOrTouchShowError(phone, validation.type)">
                                    {{validation.message}}
                                </span>
                            </ng-container>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label class="col-form-label required pb-0 fw-bold fs-6">Địa chỉ</label>
                        <div class="px-0 form-group mt-4">
                            <input type="text" id="address" name="address" placeholder="Nhập địa chỉ"
                                (focusout)="commonService.onTrimOutForm($event, formBook, 'address')"
                                [ngClass]="{'is-invalid': commonService.dirtyOrTouchFieldCheck('address', formBook)}"
                                class="form-control form-control-sm fw-normal" formControlName="address" />
                            <ng-container *ngFor="let validation of validator_value">
                                <span class="label text-danger" *ngIf="dirtyOrTouchShowError(address, validation.type)">
                                    {{validation.message}}
                                </span>
                            </ng-container>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label class="col-form-label required pb-0 fw-bold fs-6">Căn cước công dân</label>
                        <div class="px-0 form-group mt-4">
                            <input type="text" id="identityCardNumber" name="identityCardNumber"
                                placeholder="Nhập căn cước công dân"
                                (focusout)="commonService.onTrimOutForm($event, formBook, 'identityCardNumber')"
                                [ngClass]="{'is-invalid': commonService.dirtyOrTouchFieldCheck('identityCardNumber', formBook)}"
                                class="form-control form-control-sm fw-normal" formControlName="identityCardNumber" />
                            <ng-container *ngFor="let validation of validator_value">
                                <span class="label text-danger"
                                    *ngIf="dirtyOrTouchShowError(identityCardNumber, validation.type)">
                                    {{validation.message}}
                                </span>
                            </ng-container>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-form-label pb-0 fw-bold fs-6">Hộ chiếu (nếu có)</label>
                        <div class="px-0 form-group mt-4">
                            <input type="text" id="passPortNo" name="passPortNo" placeholder="Nhập hộ chiếu"
                                class="form-control form-control-sm fw-normal"
                                (focusout)="commonService.onTrimOutForm($event, formBook, 'passPortNo')"
                                [ngClass]="{'is-invalid': commonService.dirtyOrTouchFieldCheck('passPortNo', formBook)}"
                                formControlName="passPortNo" />
                            <ng-container *ngFor="let validation of validator_value">
                                <span class="label text-danger"
                                    *ngIf="dirtyOrTouchShowError(passPortNo, validation.type)">
                                    {{validation.message}}
                                </span>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <div>
                        <p class=" text-center col-form-label pb-0 fw-bold fs--16">Tổng tiền</p>
                        <p class="form-group text-center fs--20 mb-0">{{totalAmounts | money}}</p>
                    </div>
                </div>
            </fieldset>
            <div class="d-flex justify-content-end">
                <a class="btn btn-secondary br--8 fs--14 btn-sm me-3" [routerLink]="['/booking']">
                    <i class='bx bx-exit me-1 fs--20 fw-bold'></i>Hủy</a>
                <button type="button" [disabled]="formBook.invalid" class="btn btn-primary btn-sm fs--14"
                    (click)="book()"> <i class='bx bx-right-arrow-alt fs--20'></i> Đặt phòng
                </button>
            </div>
        </form>
    </div>
</div>

<app-loading [isLoading]="isLoading"></app-loading>