<p>add-service works!</p>
<h2 class="card-title" style="padding-bottom: 10px;">
    Tìm kiếm và đặt phòng
</h2>
<div class="card h-100 pt-4 mb-2" *ngIf="!isLoading">
    <div class="card-body py-3 w-100">
        <form [formGroup]="formService" class="form">
            <div class="card-body border-top px-9 pt-9 pb-4">
                <div class="row mb-6">
                    <label class="col-sm-2 col-form-label required fw-bold fs-6">Tên phòng</label>
                    <div class="col-sm-10">
                        <ng-select [items]="listRoom" bindLabel="roomNo" bindValue="id" placeholder="Chọn phòng"
                            class="form-select-sm p-0 border-0 form-control-sm" formControlName="roomId">
                            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                <span>{{item.roomNo}}</span>
                            </ng-template>
                        </ng-select>
                    </div>

                </div>

                <div class="row mb-6">
                    <label class="col-sm-2 col-form-label fw-bold fs-6">Ghi chú</label>
                    <div class="col-sm-10">
                        <textarea type="text" class="form-control form-control-sm" rows="5" placeholder="Nhập mô tả"
                            formControlName="note"></textarea>
                    </div>
                </div>

                <div class="row mb-6">
                    <label class="col-sm-2 col-form-label fw-bold fs-6">Chọn nhiều dịch vụ</label>

                </div>

                <div class="table-responsive table-bordered">
                    <table class="table table-row-gray-300 align-middle gs-0 gy-4">
                        <thead>
                            <tr class="fw-bolder text-muted text-nowrap">
                                <th class="min-w-50px text-gray-900 fw-bold">Dịch vụ</th>
                                <th class="min-w-140px text-gray-900 fw-bold">Giá</th>
                                <th class="min-w-140px text-gray-900 fw-bold">Số lượng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let item of bookingServices">
                                <tr>
                                    <td>
                                        <ng-select [items]="services" bindLabel="roomNo" bindValue="id"
                                            placeholder="Chọn dịch vụ"
                                            class="form-select-sm p-0 border-0 form-control-sm" [(ngModel)]="item.id"
                                            [ngModelOptions]="{standalone: true}">
                                            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                                <span>{{item.roomNo}}</span>
                                            </ng-template>
                                        </ng-select>
                                    </td>
                                    <td class="text-nowrap">
                                        <p class="p-2 mb-0 bg-secondary"
                                            style="border: 1px solid #E4E6EF; border-radius: 4px;">
                                            sakdjksd
                                        </p>
                                    </td>
                                    <td class="text-nowrap">
                                        <div class="form-group">
                                            <input type="tel" class="form-control form-control-sm" numbersOnly
                                                [onlyNumber]="true" [max]="1000000000" placeholder="Nhập số lượng"
                                                name="quantity" />
                                        </div>
                                    </td>
                                    <td>
                                        <i class='bx bx-trash fs--17'></i>
                                    </td>
                                </tr>
                            </ng-container>


                        </tbody>
                    </table>
                </div>

            </div>
            <div class="card-footer d-flex justify-content-end px-9">
                <button type="button" class="btn btn-secondary br--8 fs--14 btn-sm me-3">
                    <i class='bx bx-exit me-1 fs--20 fw-bold'></i>Hủy</button>
                <button type="button" class="btn btn-primary btn-sm fs--14" [disabled]="isLoading">
                    <i class='bx bx-save fs--20'></i>Lưu
                </button>
            </div>
        </form>
    </div>
</div>

<app-loading [isLoading]="isLoading"></app-loading>