<h2 class="card-title align-items-start flex-column" style="padding-bottom: 10px;">
    Danh sách tài khoản
</h2>
<div class="card mb-5 mb-xl-8">
    <div class="card-header border-0 pt-5">
        <div class="card-toolbar" *ngIf="commonService.checkPermission('ADMIN')">
            <button class="btn btn-sm btn-light-primary btn-create fs--14 br--8" (click)="openModal(content)">
                <span class="svg-icon svg-icon-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1"
                            transform="rotate(-90 11.364 20.364)" fill="currentColor"></rect>
                        <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="currentColor"></rect>
                    </svg>
                </span>
                Thêm tài khoản</button>
        </div>
    </div>
    <div class="card-body py-3 mt-3">
        <ng-container *ngIf="listsUser && listsUser.length > 0">
            <div class="table-responsive">
                <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4 mb-6">
                    <thead>
                        <tr class="fw-bolder text-muted text-nowrap">
                            <th class="ps-4 min-w-325px rounded-start">Thông tin</th>
                            <th class="min-w-125px">Tên tài khoản</th>
                            <th class="min-w-125px">Vai trò</th>
                            <th class="min-w-125px">Trạng thái</th>
                            <th class="min-w-125px">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of listsUser; index as key">
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="symbol symbol-50px me-5">
                                        <img src="assets/images/no-avatar.png" class="" alt="">
                                    </div>
                                    <div class="d-flex justify-content-start flex-column" *ngIf="user.staff">
                                        <a class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                                            {{ user?.staff?.fullName}}
                                        </a>
                                        <span class="text-muted fw-bold text-muted d-block fs--14">Email: {{
                                            user?.staff?.email
                                            }}</span>
                                        <span class="text-muted fw-bold text-muted d-block fs--14">Ngày sinh: {{
                                            commonService.formatTime(user?.staff?.birthDay, 'DD/MM/YYYY') }}</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <span class="text-muted fw-bold text-muted d-block fs--14">{{user.username}}</span>
                            </td>
                            <td>
                                <span class="badge badge-light-primary fs-7 fw-bold mt-2 me-2" *ngIf="user.role">{{ getRoleName(user.role.id)
                                    }}</span>
                            </td>
                            <td>
                                <ng-container [ngSwitch]="user.isActive">
                                    <span *ngSwitchCase="true" class="badge badge-light-success">Đang hoạt động</span>
                                    <span *ngSwitchCase="false" class="badge badge-light-danger">Dừng hoạt động</span>
                                </ng-container>
                            </td>
                            <td>
                                <div ngbDropdown placement="bottom-right" class="d-inline-block action"
                                    *ngIf="commonService.checkPermission('ADMIN') && (user.role?.id != 1)">
                                    <a type="button" class="btn btn-outline-primary btn-sm" id="action"
                                        ngbDropdownToggle><i
                                            class='bx bx-dots-vertical-rounded text-gray-900 cursor-pointer'></i></a>
                                    <div ngbDropdownMenu aria-labelledby="action">
                                        <button ngbDropdownItem class="py-2br--8" (click)="openModal(content, user.id)">
                                            <i
                                                class='bx bx-bar-chart-square fs--17 me-1 text-gray-900 align-middle'></i>
                                            <span class="fs-17">Chỉnh sửa</span>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="mt-5 w-100">
                <app-pagination [paging]="paging" (change)="changePage($event)"></app-pagination>
            </div>
        </ng-container>
        <div class="text-center h-100 m-auto" *ngIf="!listsUser || listsUser.length == 0">
            <img src="../../../../assets/images/EmptyState.jpg" alt="">
            <p class="fs-3 text-gray-600 fw-bold">Không có dữ liệu tương ứng</p>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="fs--18 modal-title">{{idDetail ? 'Chỉnh sửa' : 'Thêm mới'}} tài khoản</h4>
    </div>
    <div class="modal-body pt-0">
        <form [formGroup]="formAccount" class="form">
            <div class="card-body border-top px-9 pt-9 pb-4">
                <div class="row mb-6">
                    <label class="col-sm-3 col-form-label required fw-bold fs-6">Tên đăng nhập</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control form-control-sm {{detailAccount ? 'bg-secondary' : ''}}" placeholder="Nhập tên đăng nhập"
                            [ngClass]="{'bg-secondary': detailAccount}" formControlName="username" pattern="^[a-z0-9]+$"
                            [readonly]="detailAccount ? true : false"
                            [ngClass]="{'is-invalid': commonService.dirtyOrTouchFieldCheck('username', formAccount)}"
                            (focusout)="commonService.onTrimOutForm($event, formAccount, 'username')" />
                        <ng-container *ngFor="let validation of validator_value.username">
                            <span class="label text-danger"
                                *ngIf="commonService.dirtyOrTouchShowError('username', validation.type, formAccount)">
                                {{validation.message}}
                            </span>
                        </ng-container>
                    </div>
                </div>
                <div class="row mb-6" *ngIf="!idDetail">
                    <label class="col-sm-3 col-form-label fw-bold fs-6">
                        <span class="required">Mật khẩu</span>
                    </label>
                    <div class="col-sm-9 fv-row">
                        <input type="password" class="form-control form-control-sm" placeholder="Nhập mật khẩu"
                            name="password" formControlName="password"
                            [ngClass]="{'is-invalid': commonService.dirtyOrTouchFieldCheck('password', formAccount)}"
                            (focusout)="commonService.onTrimOutForm($event, formAccount, 'password')" />
                        <ng-container *ngFor="let validation of validator_value.password">
                            <span class="label text-danger"
                                *ngIf="commonService.dirtyOrTouchShowError('password', validation.type, formAccount)">
                                {{validation.message}}
                            </span>
                        </ng-container>
                    </div>
                </div>
                <div class="row mb-6" *ngIf="!idDetail">
                    <label class="col-sm-3 col-form-label fw-bold fs-6">
                        <span class="required">Xác nhận mật khẩu</span>
                    </label>
                    <div class="col-sm-9 fv-row">
                        <input type="password" class="form-control form-control-sm" placeholder="Xác nhận mật khẩu"
                            name="repass" formControlName="repass"
                            [ngClass]="{'is-invalid': commonService.dirtyOrTouchFieldCheck('repass', formAccount)}"
                            (focusout)="commonService.onTrimOutForm($event, formAccount, 'repass');checkPass($event)" />
                        <ng-container *ngFor="let validation of validator_value.repass">
                            <span class="label text-danger"
                                *ngIf="commonService.dirtyOrTouchShowError('repass', validation.type, formAccount)">
                                {{validation.message}}
                            </span>
                        </ng-container>
                        <ng-template [ngIf]="statusPass">
                            <span class="label text-danger">Mật khẩu không đúng</span>
                        </ng-template>
                    </div>
                </div>
                <div class="row mb-6" *ngIf="idDetail">
                    <label class="col-sm-3 col-form-label required fw-bold fs-6">Nhân viên</label>
                    <div class="col-sm-9 fv-row">
                        <input type="text" class="form-control form-control-sm" [ngClass]="{'bg-secondary': detailAccount}" readonly [value]="detailAccount?.staff?.fullName"/>
                    </div>
                </div>
                <div class="row mb-6" *ngIf="!idDetail">
                    <label class="col-sm-3 col-form-label required fw-bold fs-6">Chọn nhân viên</label>
                    <div class="col-sm-9 fv-row" >
                        <ng-select [items]="staffNotAccount" bindLabel="fullName" bindValue="id"
                            placeholder="Chọn nhân viên"
                            [ngClass]="{'is-invalid': id.invalid && (id.touched || id.dirty)}" 
                            class="form-select-sm w-100 p-0 border-0 form-control-sm"
                            formControlName="id">
                            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                <span>{{item.fullName}}</span>
                            </ng-template>
                        </ng-select>
                        <ng-container *ngFor="let validation of validator_value.id">
                            <span class="label text-danger"
                                *ngIf="commonService.dirtyOrTouchShowError('id', validation.type, formAccount)">
                                {{validation.message}}
                            </span>
                        </ng-container>
                    </div>
                </div>
                <div class="row mb-6">
                    <label class="col-sm-3 col-form-label required fw-bold fs-6">Chọn vai trò</label>
                    <div class="col-sm-9 fv-row">
                        <ng-select [items]="listRoles" bindLabel="name" bindValue="id" 
                            [ngClass]="{'is-invalid': id.invalid && (id.touched || id.dirty)}" 
                            placeholder="Chọn vai trò"
                            [clearable]="false"
                            class="form-select-sm w-100 p-0 border-0 form-control-sm" 
                            formControlName="roles">
                            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                <span>{{item.name}}</span>
                            </ng-template>
                        </ng-select>
                        <ng-container *ngFor="let validation of validator_value.roles">
                            <span class="label text-danger"
                                *ngIf="commonService.dirtyOrTouchShowError('roles', validation.type, formAccount)">
                                {{validation.message}}
                            </span>
                        </ng-container>
                    </div>
                </div>
                <div class="row mb-6">
                    <label class="col-sm-3 col-form-label required fw-bold fs-6">Chọn trạng thái</label>
                    <div class="col-sm-9 fv-row">
                        <ng-select [items]="listStatus" [clearable]="false"
                            bindLabel="name" bindValue="id" placeholder="Chọn trạng thái"
                            class="form-select-sm w-100 p-0 border-0 form-control-sm" formControlName="status">
                            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                <span>{{item.name}}</span>
                            </ng-template>
                        </ng-select>
                    </div>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-end px-9">
                <button type="button" class="btn btn-secondary br--8 fs--14 btn-sm me-3" (click)="modal.close('close')">
                    <i class='bx bx-exit me-1 fs--20 fw-bold'></i>Hủy</button>
                <button type="button" class="btn btn-primary btn-sm fs--14" (click)="onSubmitForm()"
                    [disabled]="isLoading || formAccount.invalid">
                    <i class='bx bx-save fs--20'></i>Lưu
                </button>
            </div>
            <app-loading [isLoading]="loadingForm"></app-loading>

        </form>
    </div>
</ng-template>


<app-loading [isLoading]="isLoading"></app-loading>