<div class="card mb-5 mb-xl-10">
    <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse"
        data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
        <div class="card-title m-0">
            <h3 class="fw-bolder m-0">Thông tin chi tiết</h3>
        </div>
    </div>
    <div id="kt_account_profile_details" class="collapse show">
        <form [formGroup]="formDetail" class="form">
            <div class="card-body border-top px-9 pt-9 pb-4">
                <div class="row mb-6">
                    <label class="col-sm-3 col-form-label required fw-bold fs-6">Họ và tên</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control form-control-sm" placeholder="Nhập họ và tên"
                            formControlName="fullName"
                            (focusout)="commonService.onTrimOutForm($event, formDetail, 'fullName')"
                            [ngClass]="{'is-invalid': fullName.invalid && (fullName.dirty || fullName.touched)}"
                            />
                        <ng-container *ngFor="let validation of validator_value.fullName">
                            <span class="label text-danger" *ngIf="dirtyOrTouchShowError(fullName, validation.type)">
                                {{validation.message}}
                            </span>
                        </ng-container>
                    </div>
                </div>
                <div class="row mb-6">
                    <label class="col-sm-3 col-form-label fw-bold fs-6"><span class="required">
                            Email</span></label>
                    <div class="col-sm-9 fv-row">
                        <input class="form-control form-control-sm" placeholder="Nhập email" name="email"
                            formControlName="email"
                            (focusout)="commonService.onTrimOutForm($event, formDetail, 'email')"
                            [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched)}" />
                        <ng-container *ngFor="let validation of validator_value.email">
                            <span class="label text-danger" *ngIf="dirtyOrTouchShowError(email, validation.type)">
                                {{validation.message}}
                            </span>
                        </ng-container>
                    </div>
                </div>
                <div class="row mb-6">
                    <label class="col-sm-3 col-form-label fw-bold fs-6 required">Ngày sinh</label>
                    <div class="col-sm-9 fv-row">
                        <input type="date" class="form-control form-control-sm" 
                            placeholder="Nhập ngày sinh" [ngClass]="{'is-invalid': birthDay.invalid && (birthDay.dirty || birthDay.touched)}"
                            name="birthDay" formControlName="birthDay"/>
                        <ng-container *ngFor="let validation of validator_value.birthDay">
                            <span class="label text-danger" *ngIf="dirtyOrTouchShowError(birthDay, validation.type)">
                                {{validation.message}}
                            </span>
                        </ng-container>
                    </div>
                </div>
                <div class="row mb-6">
                    <label class="col-sm-3 col-form-label fw-bold fs-6 required">Số điện thoại</label>
                    <div class="col-sm-9 fv-row">
                        <input type="text" class="form-control form-control-sm" placeholder="Nhập số điện thoại"
                            name="phone" maxlength="10" formControlName="phone"
                            (focusout)="commonService.onTrimOutForm($event, formDetail, 'phone')"
                            [ngClass]="{'is-invalid': phone.invalid && (phone.dirty || phone.touched)}"/>
                        <ng-container *ngFor="let validation of validator_value.phone">
                            <span class="label text-danger" *ngIf="dirtyOrTouchShowError(phone, validation.type)">
                                {{validation.message}}
                            </span>
                        </ng-container>
                    </div>
                </div>
                <div class="row mb-6">
                    <label class="col-sm-3 col-form-label fw-bold fs-6 required">
                        CCCD/CMT</label>
                    <div class="col-sm-9 fv-row">
                        <input type="tel" class="form-control form-control-sm" placeholder="Nhập số CCCD/CMT"
                            name="identityCardNumber" formControlName="identityCardNumber"
                            [ngClass]="{'is-invalid': identityCardNumber.invalid && (identityCardNumber.dirty || identityCardNumber.touched)}"/>
                        <ng-container *ngFor="let validation of validator_value.identityCardNumber">
                            <span class="label text-danger"
                                *ngIf="dirtyOrTouchShowError(identityCardNumber, validation.type)">
                                {{validation.message}}
                            </span>
                        </ng-container>
                    </div>

                </div>
            </div>
            <div class="card-footer d-flex justify-content-start py-6 px-9">
                <button type="button" class="btn btn-primary btn-sm fs--14 br--8" [disabled]="isLoading || formDetail.invalid"
                    (click)="saveProfile()"><i class='bx bx-save fs--20'></i>Cập nhật
                </button>
            </div>
        </form>
    </div>
</div>

