<h2 class="card-title" style="padding-bottom: 10px;">
    Danh sách bài viết
</h2>
<div class="card h-100 pt-4 mb-2">
    <div class="card-header border-0 pt-5">
        <div class="card-toolbar" *ngIf="commonService.checkPermission('STAFF')">
            <button class="btn btn-sm btn-light-primary btn-create fs--14 br--8" (click)="create()">
                <span class="svg-icon svg-icon-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1"
                            transform="rotate(-90 11.364 20.364)" fill="currentColor"></rect>
                        <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="currentColor"></rect>
                    </svg>
                </span>
                Thêm bài viết</button>
        </div>
    </div>
    <ng-container *ngIf="listPost && listPost.length > 0; else noData">
        <div class="card-body py-3 w-100" *ngIf="!isLoading">
            <div class="table-responsive table-bordered text-nowrap">
                <table class="table table-row-dashed table-row-gray-300 align-middle gs-0  mb-15">
                    <thead>
                        <tr class="fw-bolder text-muted text-nowrap">
                            <!-- <th class="w-25px">
                                <div class="form-check form-check-sm form-check-custom form-check-solid">
                                    <input class="check-box" type="checkbox" />
                                </div>
                            </th> -->
                            <th class="min-w-140px text-gray-900 fw-bold">ID</th>
                            <th class="min-w-140px text-gray-900 fw-bold">Tiêu đề</th>
                            <th class="min-w-140px text-gray-900 fw-bold">Ảnh bìa</th>
                            <th class="min-w-140px text-gray-900 fw-bold">Tóm tắt</th>
                            <th class="min-w-140px text-gray-900 fw-bold">Ngày tạo</th>
                            <th class="min-w-140px text-gray-900 fw-bold" *ngIf="commonService.checkPermission('ADMIN|STAFF')">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of listPost">
                            <!-- <td>
                                <div class="form-check form-check-sm form-check-custom form-check-solid">
                                    <input class="check-box" type="checkbox" />
                                </div>
                            </td> -->
                            <td class="fs--14 fw-bolder text-gray-900">
                                {{item.id}}
                            </td>
                            <td class="text-nowrap">
                                <h3 class="fs--13 fw-bolder text-gray-900 mb-1">
                                    {{item.title}}
                                </h3>
                            </td>
                            <td class="text-nowrap">
                                <img src="{{item.photo}}" alt="" style="width: 80px; height: 80px; object-fit: cover;">
                            </td>
                            <td>
                                <p class="text-break" style="max-width: 200px;width: 200px; white-space: normal;">
                                {{item.description}}
                                </p>
                            </td>
                            <td class="fs--14">
                                {{commonService.formatTime(item.createdDate, 'DD/MM/YYYY')}}
                            </td>
                            <td class="text-center">
                                <div ngbDropdown placement="bottom-right" class="d-inline-block action" *ngIf="commonService.checkPermission('ADMIN|STAFF')">
                                    <a type="button" class="btn btn-outline-primary btn-sm" id="action"
                                        ngbDropdownToggle><i
                                            class='bx bx-dots-vertical-rounded text-gray-900 cursor-pointer'></i></a>
                                    <div ngbDropdownMenu aria-labelledby="action">
                                        <a ngbDropdownItem class="action-item br--8 py-3" routerLink="/news/edit/{{item.id}}" *ngIf="commonService.checkPermission('STAFF')">
                                            <span>Chỉnh sửa</span>
                                        </a>
                                        <button ngbDropdownItem class="action-item br--8" *ngIf="commonService.checkPermission('ADMIN')"
                                            (click)="deletePost(item.id)">
                                            <span>Xóa bài</span>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    
            <div class="mt-10 w-100">
                <app-pagination [paging]="paging" (change)="changePage($event)"></app-pagination>
            </div>
        </div>
    </ng-container>
    
    
    <ng-template #noData>
        <div class="text-center h-100 m-auto">
            <img src="../../../../assets/images/EmptyState.jpg" alt="">
            <p class="fs-3 text-gray-600 fw-bold">Không có dữ liệu tương ứng</p>
        </div>
    </ng-template>
</div>

<app-loading [isLoading]="isLoading"></app-loading>