<div class="card mb-5 w-100" id="kt_profile_details_view" *ngIf="profileInfo && !edit">
    <div class="card-header cursor-pointer d-flex">
        <div class="card-title m-0">
            <h3 class="fw-bolder m-0">Thông tin cá nhân</h3>
        </div>
        <a (click)="editProfile()" class="btn btn-primary align-self-center">Cập nhật</a>
    </div>
    <div class="card-body p-9">
        <div class="row mb-7">
            <label class="col-lg-4 fw-bold text-muted">Họ và tên</label>
            <div class="col-lg-8">
                <span class="fw-bolder fs-6 text-gray-800">{{ profileInfo.staff?.staff?.fullName ?
                    profileInfo.staff.staff?.fullName : "Chưa cập nhật"   }}</span>
            </div>
        </div>
        <div class="row mb-7">
            <label class="col-lg-4 fw-bold text-muted">Ngày sinh
                <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title=""
                    data-bs-original-title="Country of origination" aria-label="Country of origination"></i></label>
            <div class="col-lg-8">
                <span class="fw-bolder fs-6 text-gray-800">{{ profileInfo?.staff?.staff?.birthDay ? commonService.formatTime(profileInfo?.staff?.staff?.birthDay, "DD/MM/YYYY") : 'Chưa cập nhật'}}</span>
            </div>
        </div>
        <div class="row mb-7">
            <label class="col-lg-4 fw-bold text-muted">Số điện thoại
                <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title=""
                    data-bs-original-title="Phone number must be active"
                    aria-label="Phone number must be active"></i></label>
            <div class="col-lg-8 d-flex align-items-center">
                <span class="fw-bolder fs-6 text-gray-800 me-2">{{profileInfo.staff?.staff?.phone ?
                    profileInfo.staff.staff?.phone : "Chưa cập nhật" }}</span>
            </div>
        </div>
        <div class="row mb-7">
            <label class="col-lg-4 fw-bold text-muted">Email
                <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title=""
                    data-bs-original-title="Country of origination" aria-label="Country of origination"></i></label>
            <div class="col-lg-8">
                <span class="fw-bolder fs-6 text-gray-800">{{ profileInfo?.staff?.staff?.email ? profileInfo?.staff?.staff?.email : 'Chưa cập nhật'}}</span>
            </div>
        </div>
    </div>
</div>
<ng-template [ngIf]="edit">
    <app-edit [profileInfo]="profileInfo"></app-edit>
</ng-template>

<app-loading [isLoading]="isLoading"></app-loading>