<div class="card mb-5 mb-xl-10">
    <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse"
        data-bs-target="#kt_account_signin_method">
        <div class="card-title m-0">
            <h3 class="fw-bolder m-0">Đổi mật khẩu</h3>
        </div>
    </div>
    <div id="kt_account_signin_method" class="collapse show">
        <div class="card-body border-top p-9">

            <ng-container *ngIf="!showChangePasswordForm">
                <div class="d-flex flex-wrap align-items-center mb-10">
                    <div id="kt_signin_password" class="false">
                        <div class="fs--14 fw-bolder mb-1">Password</div>
                        <div class="fw-bold text-gray-600">************</div>
                    </div>
                    <div id="kt_signin_password_button" class="ms-auto false">
                        <button class="btn btn-light btn-active-light-primary br--8" (click)="togglePasswordForm(true)">
                            Chỉnh sửa
                        </button>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="showChangePasswordForm">
                <div class="d-flex flex-wrap align-items-center mb-10">
                    <div id="kt_signin_password_edit" class="flex-row-fluid false">
                        <form id="kt_signin_change_password" class="form" [formGroup]="formPassword">
                            <div class="row mb-1">
                                <div class="col-lg-4">
                                    <label for="currentpassword" class="form-label fs--14 fw-bolder mb-3">Mật khẩu
                                        hiện tại</label>
                                    <input type="password" class="form-control form-control-sm" id="currentpassword"
                                        placeholder="Nhập mật khẩu hiện tại" name="currentPassword"
                                        formControlName="oldPass"
                                        [ngClass]="{'is-invalid': commonService.dirtyOrTouchFieldCheck('oldPass', formPassword)}"
                                        (focusout)="commonService.onTrimOutForm($event, formPassword, 'oldPass')"
                                        [ngClass]="{'is-invalid': oldPass.invalid && (oldPass.touched || oldPass.dirty)}" />
                                    <ng-container *ngFor="let validation of validator_value.oldPass">
                                        <span class="label text-danger"
                                            *ngIf="commonService.dirtyOrTouchShowError('oldPass', validation.type, formPassword)">
                                            {{validation.message}}
                                        </span>
                                    </ng-container>
                                </div>
                                <div class="col-lg-4">
                                    <label for="new" class="form-label fs--14 fw-bolder mb-3">Mật khẩu
                                        mới</label>
                                    <input type="password" class="form-control form-control-sm" id="new"
                                        placeholder="Nhập mật khẩu mới" name="new"
                                        formControlName="newPass"
                                        [ngClass]="{'is-invalid': commonService.dirtyOrTouchFieldCheck('newPass', formPassword)}"
                                        (focusout)="commonService.onTrimOutForm($event, formPassword, 'newPass')"
                                        [ngClass]="{'is-invalid': newPass.invalid && (newPass.touched || newPass.dirty)}" />
                                    <ng-container *ngFor="let validation of validator_value.newPass">
                                        <span class="label text-danger"
                                            *ngIf="commonService.dirtyOrTouchShowError('newPass', validation.type, formPassword)">
                                            {{validation.message}}
                                        </span>
                                    </ng-container>
                                </div>
                                <div class="col-lg-4">
                                    <label for="password_confirm" class="form-label fs--14 fw-bolder mb-3">Xác nhận mật khẩu </label>
                                    <input type="password" class="form-control form-control-sm" id="password_confirm"
                                        placeholder="Xác nhận mật khẩu" name="password_confirm"
                                        formControlName="password_confirm"
                                        [ngClass]="{'is-invalid': commonService.dirtyOrTouchFieldCheck('password_confirm', formPassword)}"
                                        (focusout)="commonService.onTrimOutForm($event, formPassword, 'password_confirm');checkPass($event)"
                                        [ngClass]="{'is-invalid': password_confirm.invalid && (password_confirm.touched || password_confirm.dirty)}" />
                                    <ng-container *ngFor="let validation of validator_value.password_confirm">
                                        <span class="label text-danger"
                                            *ngIf="commonService.dirtyOrTouchShowError('password_confirm', validation.type, formPassword)">
                                            {{validation.message}}
                                        </span>
                                    </ng-container>
                                    <ng-template [ngIf]="statusPass">
                                        <span class="label text-danger">Mật khẩu không đúng</span>
                                    </ng-template>
                                </div>
                            </div>
                            <div class="d-flex mt-5">
                                <button id="kt_password_submit" type="button"
                                    [disabled]="formPassword.invalid || isLoading"
                                    class="btn btn-primary btn-sm fs--14 me-2 px-6" (click)="savePassword()"> <i
                                        class='bx bx-save fs--20'></i>Cập nhật mật khẩu
                                </button><button id="kt_password_cancel" type="button"
                                    class="btn btn-color-gray-400 btn-sm fs--14 btn-secondary fs--14 br--8"
                                    (click)="togglePasswordForm(false)">
                                    Hủy bỏ
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>