:host {
  height: 100%;
}

.auth-left {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .logo {
        margin-top: 145px;
    }
}

.auth-right {
    background-image: url("../../assets/images/BG-Right.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 768px) {
    
    .auth-left {
        display: none;
        max-width: 300px;
    }
    .auth-right {
        background: #fff !important;
    }
}

@media (min-width: 767px) and (max-width: 992px) {
    
    .auth-left {
        max-width: 40%;
    }
}

