<div class="bgi-no-repeat bgi-size-contain bgi-attachment-fixed d-flex h-100 min-vh-100">
    <!-- <div class="auth-left vh-100 bg-white">
        <div class="text-center logo mb-10">
            <img src="assets/images/accesstrade-logo.svg" alt="">
        </div>
        <img src="assets/images/FINANCE.jpg" alt="" class="">
    </div> -->
    <div class="w-100 auth-right rounded p-5 p-lg-8">
        <!-- <div></div> -->
        <router-outlet></router-outlet>
        <!-- <img cla src="assets/images/BG-Right.jpg" alt=""> -->
    </div>
</div>