<h2 class="card-title" style="padding-bottom: 10px;">
    Danh sách đặt phòng
</h2>
<div class="card pt-4 mb-2">
    <div class="card-body border-0 py-2">
        <div class="card-header px-0" *ngIf="commonService.checkPermission('STAFF|RECEPTIONLIST')">
            <div class="d-flex align-items-start mt-4">
                <a (click)="routers()" class="btn btn-light-primary d-flex align-items-center btn-sm w-auto me-3 br--8">
                    <i class='bx bx-plus fs--17'></i>Thêm mới đặt phòng</a>
                <a (click)="openModal(content)"
                    class="btn btn-light-primary d-flex align-items-center btn-sm w-auto me-3 br--8">
                    <i class='fs--17 bx bx-list-plus'></i>Mua dịch vụ</a>
            </div>

        </div>
    </div>
    <div class="card-body mb-3 border-0 py-2">
        <div class=" px-0 pb-7">
            <form [formGroup]="formSearch">
                <div class="row mb-6 w-100">
                    <!-- <div class="col-md-4">
                        <label class="col-form-label required pb-0 fw-bold fs-6">Thời gian</label>
                        <div class="px-0 form-group mt-4 ">
                            <input type="date" id="time" name="time" class="form-control form-control-sm fw-normal"
                                placeholder="Chọn thời gian" formControlName="time" />

                        </div>
                    </div> -->
                    <div class="col-md-4">
                        <label class="col-form-label required pb-0 fw-bold fs-6">Tên khách hàng</label>
                        <div class="px-0 form-group mt-4">
                            <input type="text" id="name" name="name" class="form-control form-control-sm fw-normal"
                                placeholder="Nhập tên khách hàng" formControlName="name" />

                        </div>
                    </div>
                    <!-- <div class="col-md-4">
                        <label class="col-form-label required pb-0 fw-bold fs-6">Số điện thoại</label>
                        <div class="px-0 form-group mt-4">
                            <input type="text" id="phone" name="phone" placeholder="Nhập số điện thoại"
                                class="form-control form-control-sm fw-normal" maxlength="10" formControlName="phone" />

                        </div>
                    </div> -->
                    <!-- <div class="col-md-4">
                        <label class="col-form-label required pb-0 fw-bold fs-6">Trạng thái</label> -->
                    <!-- <div class="px-0 form-group mt-4">
                            <ng-select [items]="roomTypes" bindLabel="roomTypeName" bindValue="roomTypeName"
                                placeholder="Chọn loại phòng" formControlName="roomNo"
                                [ngClass]="{'is-invalid': roomNo.invalid && (roomNo.touched || roomNo.dirty) }"
                                class="form-select-sm w-100 p-0 border-0 form-control-sm">
                            </ng-select>
                        </div> -->
                    <!-- </div> -->
                    <div class="d-flex align-items-start mt-4 col-md-12">
                        <button class="btn btn-light-primary d-flex align-items-center btn-sm w-auto me-3 br--8"
                            (click)="resetForm()">
                            <i class='bx bx-refresh fs--17'></i>Thiết lập lại</button>
                        <button class="btn btn-primary btn-sm w-auto br--8" (click)="filter()"> <i
                                class="bx bx-search fs--17"></i>Tìm kiếm</button>
                    </div>
                </div>

            </form>
        </div> 
        <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 mt-4">
            
            <li class="nav-item mt-2" *ngFor="let item of configBooking; index as i">
                <a class="nav-link text-active-primary ms-0 me-10 py-2 cursor-pointer"
                    [ngClass]="{'active fw-bolder': configs == item.id}" (click)="chooseStatus(item.value, item.id)">
                    {{item.name}}</a>
            </li>
        </ul>
    </div>
</div>
<ng-container *ngIf="!isLoading">
    <div class="card pt-4 mb-2">
        <div class="card-body py-3 w-100" *ngIf="listBooking?.length > 0; else noData">
            <div class="table-responsive table-bordered">
                <table class="table table-row-gray-300 align-middle gs-0 gy-4">
                    <thead>
                        <tr class="fw-bolder text-muted text-nowrap">

                            <th class="min-w-50px text-gray-900 fw-bold">ID</th>
                            <th class="min-w-140px text-gray-900 fw-bold">Khách hàng</th>
                            <th class="min-w-140px text-gray-900 fw-bold">Loại đặt phòng</th>
                            <th class="min-w-140px text-gray-900 fw-bold">Trạng thái đặt phòng</th>
                            <th class="min-w-140px text-gray-900 fw-bold">Loại phòng</th>
                            <th class="min-w-140px text-gray-900 fw-bold">Giá tương ứng</th>
                            <th class="min-w-140px text-gray-900 fw-bold">Thời gian dự tính</th>
                            <th class="min-w-120px text-gray-900 fw-bold">Thời gian thực tế</th>

                            <th class="min-w-100px text-gray-900 fw-bold"
                                *ngIf="commonService.checkPermission('STAFF|RECEPTIONLIST')">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let booking of listBooking; index as i">
                            <td>
                                <span class="fs--13 text-gray-900 text-nowrap">{{booking.id}}</span>
                            </td>
                            <td class="text-nowrap">
                                <h3 class="fs--15 fw-bolder text-gray-900 mb-1">
                                    {{booking.customer.firstName}} {{booking.customer.lastName}}
                                </h3>
                                <p class="text-gray-900 mb-0">
                                    Sđt: {{booking.customer?.phone}}
                                </p>
                                <p class="text-gray-900 mb-0">
                                    Email: {{booking.customer?.email}}
                                </p>
                                <p class="text-gray-900 mb-0">
                                    Sđt: {{booking.customer?.phone}}
                                </p>
                            </td>
                            <td class="text-nowrap">
                                <p
                                    class="badge mb-0 fs--13 {{booking.bookOnline ? 'badge-light-success': 'badge-light-primary'}}">
                                    {{booking.bookOnline ? "Online": "Offline"}}
                                </p>
                            </td>
                            <td class="text-nowrap">
                                <p class="badge mb-0 fs--13 {{getClassNameStatus(booking.bookingStatus)}}">
                                    {{getNameStatusBooking(booking.bookingStatus)}}
                                </p>
                            </td>
                            <td class="text-nowrap">
                                <p class="fs--13 fw-bold mb-0 " *ngIf="booking.room?.roomTypeMap?.roomTypeName">
                                    {{booking.room?.roomTypeMap?.roomTypeName}}
                                </p>
                                <p class="fs--13 text-muted mb-0 " *ngIf="booking.room">
                                    Số phòng: {{booking.room?.roomNo}}
                                </p>
                            </td>
                            <td class="text-gray-900 text-nowrap">
                                <h3 class="fs--14 fw-bolder text-gray-900">Tiền phòng: {{booking.priceBefore | money}}</h3>
                                <h3 class="fs--14 fw-bolder text-gray-900">Tiền dịch vụ: {{booking.service | money}}</h3>
                                <h3 class="fs--14 fw-bolder text-gray-900">Tiền thuế: {{booking.tax | money}}</h3>
                                <h3 class="fs--14 fw-bolder text-gray-900">Tổng tiền: {{booking.total | money}}</h3>
                            </td>
                            <td class="text-gray-900 text-nowrap">
                                <p class=" fs--13">Check in: {{booking.checkIn}}</p>
                                <p class="mb-0 fs--13">Check out: {{booking.checkOut}}</p>
                            </td>
                            <td class="text-gray-900 text-nowrap">
                                <p class=" fs--13">Check in: {{booking.bookingDetail?.realCheckIn | time}}</p>
                                <p class="mb-0 fs--13">Check out: {{booking.bookingDetail?.realCheckOut | time}}</p>
                            </td>
                            <td class="text-center" *ngIf="commonService.checkPermission('STAFF|RECEPTIONLIST')">
                                <div ngbDropdown placement="bottom-right" class="d-inline-block action">
                                    <a type="button" class="btn btn-outline-primary btn-sm" id="action"
                                        ngbDropdownToggle><i
                                            class='bx bx-dots-vertical-rounded text-gray-900 cursor-pointer'></i></a>
                                    <div ngbDropdownMenu aria-labelledby="action">
                                        <button ngbDropdownItem class="action-item br--8"
                                            *ngIf="booking.bookingStatus == 'DRAFT'" (click)="checkInOut(booking.id,0)">
                                            <span>Xác nhận thanh toán</span>
                                        </button>

                                        <button ngbDropdownItem class="action-item br--8"
                                            *ngIf="booking.bookingStatus == 'SUCCESS'"
                                            (click)="checkInOut(booking.id,1, booking.checkIn)">
                                            <span>Check in</span>
                                        </button>

                                        
                                        
                                        <button ngbDropdownItem class="action-item br--8"
                                            *ngIf="booking.bookingStatus == 'CHECKIN'"
                                            (click)="checkInOut(booking.id,2,booking.checkIn)">
                                            <span>Check out</span>
                                        </button>

                                        <button ngbDropdownItem class="action-item br--8"
                                            *ngIf="booking.bookingStatus == 'CHECKOUT'"
                                            (click)="checkInOut(booking.id,3)">
                                            <span>Hoàn thành</span>
                                        </button>

                                        <button ngbDropdownItem class="action-item br--8"
                                            *ngIf="booking.bookingStatus == 'SUCCESS'"
                                            (click)="cancel(cancelBook, booking.id)">
                                            <span>Hủy</span>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="mt-5 w-100" *ngIf="paging.total > 0">
                <app-pagination [paging]="paging" (change)="changePage($event)"></app-pagination>
            </div>
        </div>
        <ng-template #noData>
            <div class="text-center h-100 m-auto">
                <img src="../../../../assets/images/EmptyState.jpg" alt="">
                <p class="fs-3 text-gray-900 fw-bold">Không có dữ liệu tương ứng</p>
            </div>
        </ng-template>
    </div>
</ng-container>


<ng-template #content let-modal>
    <div class="modal-header">
        <h3 class="fs--18">Thêm dịch vụ cho phòng</h3>
    </div>
    <div class="modal-body pt-0">
        <form [formGroup]="formService" class="form">
            <div class="card-body border-top px-9 pt-9 pb-4">
                <div class="row mb-6">
                    <label class="col-sm-2 col-form-label required fw-bold fs-6">Tên phòng</label>
                    <div class="col-sm-10">
                        <ng-select [items]="listRoom" bindLabel="roomNo" bindValue="id" placeholder="Chọn phòng"
                            class="form-select-sm p-0 border-0 form-control-sm" formControlName="roomId">
                            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                <span>{{item.roomNo}}({{item.status == "AVAILABLE" ? 'Còn trống' : 'Có người'}})</span>
                            </ng-template>
                        </ng-select>
                    </div>

                </div>

                <div class="row mb-6">
                    <label class="col-sm-2 col-form-label fw-bold fs-6">Ghi chú</label>
                    <div class="col-sm-10">
                        <textarea type="text" class="form-control form-control-sm" rows="5" placeholder="Nhập mô tả"
                            formControlName="note"></textarea>
                    </div>
                </div>

                <div class=" table-bordered">
                    <table class="table table-row-gray-300 align-middle gs-0 gy-4">
                        <thead>
                            <tr class="fw-bolder text-muted text-nowrap">
                                <th></th>
                                <th class="min-w-50px text-gray-900 fw-bold">Dịch vụ</th>
                                <th class="min-w-140px text-gray-900 fw-bold">Giá</th>
                                <th class="min-w-140px text-gray-900 fw-bold">Số lượng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let booking of bookingServices, index as i">
                                <tr>
                                    <td>{{i+1}}</td>
                                    <td>
                                        <ng-select [items]="services" bindLabel="name" bindValue="id"
                                            placeholder="Chọn dịch vụ"
                                            (change)="choosePrice($event, booking)"
                                            class="form-select-sm p-0 border-0 form-control-sm" [(ngModel)]="booking.service.id"
                                            [ngModelOptions]="{standalone: true}">
                                            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                                <span>{{item.name}}</span>
                                            </ng-template>
                                        </ng-select>
                                    </td>
                                    <td class="text-nowrap">
                                        <p class="p-2 mb-0 bg-secondary"
                                            style="border: 1px solid #E4E6EF; border-radius: 4px;">
                                            {{booking.price | money}}
                                        </p>
                                    </td>
                                    <td class="text-nowrap">
                                        <div class="form-group">
                                            <input type="tel" class="form-control form-control-sm" numbersOnly
                                                (change)="changeQuantity($event, booking)"
                                                [onlyNumber]="true" [max]="1000000000" placeholder="Nhập số lượng"
                                                name="quantity" />
                                        </div>
                                    </td>
                                    <td>
                                        <i class='bx bx-trash fs--17' (click)="delete(i)"></i>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
                <div class="row my-5">
                    <button type="button" class="btn btn-primary btn-sm fs--14 col-3" (click)="initService()" [disabled]="isLoading">
                        <i class='bx bx-plus fs--20'></i>Mua thêm
                    </button>
                </div>

            </div>
            <div class="card-footer d-flex justify-content-end px-9">
                <button type="button" class="btn btn-secondary br--8 fs--14 btn-sm me-3" (click)="modal.close('close')">
                    <i class='bx bx-exit me-1 fs--20 fw-bold'></i>Hủy</button>
                <button type="button" class="btn btn-primary btn-sm fs--14" (click)="buy()" [disabled]="isLoading">
                    <i class='bx bx-save fs--20'></i>Lưu
                </button>
            </div>
        </form>
    </div>
</ng-template>


<ng-template #cancelBook let-modal>
    <div class="modal-header">
        <h3 class="fs--18">Hủy đặt phòng</h3>
    </div>
    <div class="modal-body">
        <div class="row mb-6">
            <label class="col-sm-2 col-form-label fw-bold fs-6">Lý do</label>
            <div class="col-sm-10">
                <textarea type="text" class="form-control form-control-sm" rows="5" placeholder="Nhập lý do hủy"
                    [(ngModel)]="reason" maxlength="150"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-body pt-0">
        <div class="card-footer d-flex justify-content-end px-9">
            <button type="button" class="btn btn-danger btn-sm fs--14" (click)="cancelBooking()" [disabled]="isLoading">
                <i class='bx bx-save fs--20'></i>Hủy đặt phòng
            </button>
        </div>
    </div>
</ng-template>
<app-loading [isLoading]="isLoading"></app-loading>