<div class="table-responsive table-bordered">
    <table class="table table-row-gray-300 align-middle gs-0 gy-4">
        <thead>
            <tr class="fw-bolder text-muted text-nowrap">
                <th class="w-25px">
                    <div class="form-check form-check-sm form-check-custom form-check-solid">
                        <input class="check-box" type="checkbox"/>
                    </div>
                </th>
                <th class="min-w-50px text-gray-900 fw-bold">ID</th>
                <th class="min-w-140px text-gray-900 fw-bold">Tên phòng</th>
                <th class="min-w-140px text-gray-900 fw-bold">Trạng thái đặt phòng</th>
                <th class="min-w-140px text-gray-900 fw-bold">Loại phòng</th>
                <th class="min-w-140px text-gray-900 fw-bold">Giá tương ứng</th>
                <th class="min-w-140px text-gray-900 fw-bold">Số lượng giường</th>

                <th class="min-w-100px text-gray-900 fw-bold">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let booking of listBooking; index as i">
                <td>
                    <div class="form-check form-check-sm form-check-custom form-check-solid">
                        <input class="check-box" type="checkbox"/>
                    </div>
                </td>
                <td>
                    <span class="fs--13 text-gray-600">{{booking.id}}</span>
                </td>
                <td class="text-nowrap">
                    <h3 class="fs--13 fw-bolder text-gray-900 mb-1">{{booking.name}}</h3>
                </td>
                <td class="text-nowrap">
                    <p class="badge mb-0 fs--13 {{getClassNameStatus(booking.booking)}}">
                        {{booking.booking ? getNameStatusBooking(booking.booking) : 'Còn'}}
                    </p>
                </td>
                <td>
                    <p class="fs--13 fw-bold mb-0 ">
                        {{getNameStatusRoom(booking.room_type)}}
                    </p>
                    <!-- <p class="fs-7 text-gray-600 mb-0 mt-2 text-break" *ngIf="booking.cancellation_reason">
                        <i>{{booking.cancellation_reason.name}}</i>
                    </p> -->
                </td>
                <td class="text-gray-600">
                    <h3 class="fs--14 fw-bolder text-gray-900">{{booking.price_per_day | money}}</h3>
                </td>
                <td class="text-gray-600 text-nowrap">
                    9
                </td>
                <td class="text-center">
                    <div ngbDropdown placement="bottom-right" class="d-inline-block action">
                        <a type="button" class="btn btn-outline-primary btn-sm" id="action" ngbDropdownToggle><i
                                class='bx bx-dots-vertical-rounded text-gray-900 cursor-pointer'></i></a>
                        <div ngbDropdownMenu aria-labelledby="action">
                            <button ngbDropdownItem class="action-item br--8" *ngIf="booking.booking != 1">
                                <span>Duyệt</span>
                            </button>
                            <button ngbDropdownItem class="action-item br--8" *ngIf="booking.booking != 1" (click)="openModal(1)">
                                <span>Chỉnh sửa</span>
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>