<ng-template #content let-modal>
    <div class="modal-header">
        <ng-container [ngSwitch]="typeModal" class="modal-title">
            <h4 *ngSwitchCase="3" class="fs--18">Tạo mới nhân viên</h4>
            <h4 *ngSwitchCase="1" class="fs--18">Chỉnh sửa nhân viên</h4>
        </ng-container>
    </div>
    <div class="modal-body pt-0">
        <form [formGroup]="formAccount" class="form">
            <div class="card-body border-top px-9 pt-9 pb-4">
                <div class="row mb-6">
                    <label class="col-sm-2 col-form-label required fw-bold fs-6">Họ và tên</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" placeholder="Nhập họ và tên"
                            formControlName="fullName"
                            (focusout)="commonService.onTrimOutForm($event, formAccount, 'fullName')"
                            [ngClass]="{'is-invalid': fullName.invalid && (fullName.dirty || fullName.touched)}"
                            [readonly]="typeModal == 2 || typeModal == 1" />
                        <ng-container *ngFor="let validation of validator_value.fullName">
                            <span class="label text-danger" *ngIf="dirtyOrTouchShowError(fullName, validation.type)">
                                {{validation.message}}
                            </span>
                        </ng-container>
                    </div>
                </div>
                <div class="row mb-6">
                    <label class="col-sm-2 col-form-label fw-bold fs-6"><span class="required">
                            Email</span></label>
                    <div class="col-sm-10 fv-row">
                        <input class="form-control form-control-sm" placeholder="Nhập email" name="email"
                            formControlName="email" [readonly]="typeModal == 2 || typeModal == 1"
                            (focusout)="commonService.onTrimOutForm($event, formAccount, 'email')"
                            [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched)}" />
                        <ng-container *ngFor="let validation of validator_value.email">
                            <span class="label text-danger" *ngIf="dirtyOrTouchShowError(email, validation.type)">
                                {{validation.message}}
                            </span>
                        </ng-container>
                    </div>
                </div>
                <div class="row mb-6">
                    <label class="col-sm-2 col-form-label  fw-bold fs-6"><span class="required">
                            Giới tính</span></label>
                    <div class="col-sm-10 fv-row mt-2">
                        <ng-select [items]="statusAccount" bindLabel="name" bindValue="id"
                            [clearable]="false"
                            placeholder="Chọn giới tính" class="form-select-sm p-0 border-0 form-control-sm"
                            formControlName="gender"
                            [ngClass]="{'is-invalid': gender.invalid && (gender.touched || gender.dirty)}">
                        </ng-select>
                       
                    </div>
                </div>
                <div class="row mb-6">
                    <label class="col-sm-2 col-form-label fw-bold fs-6 required">Số điện thoại</label>
                    <div class="col-sm-10 fv-row">
                        <input type="text" class="form-control form-control-sm" placeholder="Nhập số điện thoại"
                            name="phone" maxlength="10" formControlName="phone"
                            (focusout)="commonService.onTrimOutForm($event, formAccount, 'phone')"
                            [ngClass]="{'is-invalid': phone.invalid && (phone.dirty || phone.touched)}"
                            [readonly]="typeModal == 2" />
                        <ng-container *ngFor="let validation of validator_value.phone">
                            <span class="label text-danger" *ngIf="dirtyOrTouchShowError(phone, validation.type)">
                                {{validation.message}}
                            </span>
                        </ng-container>
                    </div>

                </div>
                <div class="row mb-6">
                    <label class="col-sm-2 col-form-label fw-bold fs-6 required">Ngày sinh</label>
                    <div class="col-sm-10 fv-row">
                        <input type="date" class="form-control form-control-sm" 
                            placeholder="Nhập ngày sinh" [ngClass]="{'is-invalid': birthDay.invalid && (birthDay.dirty || birthDay.touched)}"
                            name="birthDay" formControlName="birthDay" [readonly]="typeModal == 2" />
                        <ng-container *ngFor="let validation of validator_value.birthDay">
                            <span class="label text-danger" *ngIf="dirtyOrTouchShowError(birthDay, validation.type)">
                                {{validation.message}}
                            </span>
                        </ng-container>
                    </div>
                </div>
                <div class="row mb-6">
                    <label class="col-sm-2 col-form-label fw-bold fs-6 required">
                        Lương</label>
                    <div class="col-sm-10 fv-row">
                        <input type="tel" class="form-control form-control-sm" numbersOnly [onlyNumber]="true"
                            [max]="1000000000" placeholder="Nhập tiền lương" name="salary"
                            [ngClass]="{'is-invalid': salary.invalid && (salary.dirty || salary.touched)}"
                            formControlName="salary" />
                        <ng-container *ngFor="let validation of validator_value.salary">
                            <span class="label text-danger" *ngIf="dirtyOrTouchShowError(salary, validation.type)">
                                {{validation.message}}
                            </span>
                        </ng-container>
                    </div>

                </div>
                <div class="row mb-6">
                    <label class="col-sm-2 col-form-label fw-bold fs-6 required">
                        CCCD/CMT</label>
                    <div class="col-sm-10 fv-row">
                        <input type="tel" class="form-control form-control-sm" placeholder="Nhập số CCCD/CMT"
                            name="identityCardNumber" formControlName="identityCardNumber"
                            [ngClass]="{'is-invalid': identityCardNumber.invalid && (identityCardNumber.dirty || identityCardNumber.touched)}"
                            [readonly]="typeModal == 2" />
                        <ng-container *ngFor="let validation of validator_value.identityCardNumber">
                            <span class="label text-danger"
                                *ngIf="dirtyOrTouchShowError(identityCardNumber, validation.type)">
                                {{validation.message}}
                            </span>
                        </ng-container>
                    </div>

                </div>
            </div>
            <div class="card-footer d-flex justify-content-end px-9">
                <button type="button" class="btn btn-secondary br--8 fs--14 btn-sm me-3" (click)="modal.close('close')">
                    <i class='bx bx-exit me-1 fs--20 fw-bold'></i>Hủy</button>
                <button type="button" class="btn btn-primary btn-sm fs--14" (click)="onSubmit()"
                    [disabled]="isLoading || formAccount.invalid || typeModal == 2">
                    <i class='bx bx-save fs--20'></i>Lưu
                </button>
            </div>
        </form>
    </div>
</ng-template>