<h2 class="card-title align-items-start flex-column" style="padding-bottom: 10px;">
    List Permissions
</h2>
<div class="card">
    <div class="card-header border-0 pt-5">
        <ng-template [ngIf]="commonService.checkPermission(permission.create)">
            <div class="card-toolbar mb-4" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover"
                title="Click to add a user">
                <a routerLink="/acl/permission/create" class="btn btn-sm fs--14 btn-light-primary">
                    Add Permission
                </a>
            </div>
        </ng-template>
        <form [formGroup]="formSearch" (ngSubmit)="onSubmit()" class="form w-100">
            <div class="d-flex flex-wrap mb-6 align-top w-100">
                <div class="form-group">
                    <div class="input-group input-group-sm mt-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text text-gray-600"
                                style="border-radius: 8px 0 0 8px; height: 40px;"
                                id="inputGroup-sizing-sm-name">Name</span>
                        </div>
                        <input type="text" class="form-control form-control-sm" placeholder="Nhập giá trị"
                            aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="name"
                            formControlName="name" style="border-radius: 0 8px 8px 0;" />
                    </div>
                </div>
                <div class="form-group mx-sm-5">
                    <div class="input-group input-group-sm mt-2">
                        <label class="input-group-prepend">
                            <span class="input-group-text text-gray-600"
                                style="border-radius: 8px 0 0 8px; height: 40px;"
                                id="inputGroup-sizing-sm-group">Group</span>
                        </label>
                        <ng-select [items]="groupType" [clearable]="false" bindLabel="name" bindValue="id"
                            placeholder="Select roles" class="ng-select-form" formControlName="group_type">
                            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                <span>{{item.name}}</span>
                            </ng-template>
                        </ng-select>
                    </div>
                </div>
                <div class="d-flex align-items-start col-sm-3">
                    <button class="btn btn-light-primary btn-sm w-auto mt-2 fs--14 br--8" [disabled]="isLoading">
                        <i class="bi bi-funnel-fill fs-2 me-2"></i>Lọc</button>
                </div>
            </div>
        </form>
    </div>
    <div class="card-body py-3" *ngIf="!isLoading">
        <ng-container *ngIf="permissions && permissions.length > 0">
            <div class="table-responsive">
                <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                    <thead>
                        <tr class="fw-bolder text-muted">
                            <th class="w-25px">ID</th>
                            <th class="min-w-150px">Tên quyền</th>
                            <th class="min-w-140px">Mô tả</th>
                            <th class="min-w-120px">Nhóm</th>
                            <ng-template [ngIf]="commonService.checkPermission(permission.update)">

                                <th class="min-w-100px text-end">Hành động</th>
                            </ng-template>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of permissions">
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.description}}</td>
                            <td>{{checkNameGroup(item.group_type)}}</td>
                            <ng-template [ngIf]="commonService.checkPermission(permission.update)">
                                <td>
                                    <div class="d-flex justify-content-end flex-shrink-0">
                                        <a [routerLink]="'/acl/permission/edit/'+ item.id" 
                                            class="btn btn-icon btn-bg-light 
                                            btn-active-color-primary btn-sm me-1">
                                        </a>
                                        <a href="#" class="btn btn-icon btn-bg-light 
                                                btn-active-color-primary btn-sm">
                                        </a>
                                    </div>
                                </td>
                            </ng-template>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-between mt-5 w-100">
                <p>Page: <span class="text-danger"><b>{{paging.page}}</b></span> / <b>{{paging.total_page}}</b> <span
                        class="ms-2">Total:
                        <b>{{paging.total}}</b></span></p>
                <app-pagination [paging]="paging" (change)="changePage($event)"></app-pagination>
            </div>
        </ng-container>
    </div>
</div>

<app-loading [isLoading]="isLoading"></app-loading>