.input-group ::ng-deep .ng-select-form .ng-select-container{
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #5E6278;
    background-clip: padding-box;
    border: 1px solid #E4E6EF;
    padding: 0.75rem 1rem;
    border-radius: 0.625rem;
    border-radius: 0 8px 8px 0;
    min-height: 40px;
    box-shadow: none;
    width: 160px;
}