<h2 class="card-title" style="padding-bottom: 10px;">
    Danh sách loại phòng
</h2>
<ng-container>
    <div class="card h-100 pt-4 mb-2">
        <div class="card-header d-md-flex justify-content-md-start" *ngIf="commonService.checkPermission('STAFF')">
            <div class="card-toolbar mb-md-0 mb-4" >
                <button class="btn btn-sm btn-light-primary btn-create fs--14 br--8 me-4"
                *ngIf="!isLoading && listType?.length < 5"
                 (click)="navigate()">
                    <span class="svg-icon svg-icon-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1"
                                transform="rotate(-90 11.364 20.364)" fill="currentColor"></rect>
                            <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="currentColor"></rect>
                        </svg>
                    </span>
                    Thêm mới</button>
            </div>
            <div class="card-toolbar" *ngIf="commonService.checkPermission('STAFF')">
                <button class="btn btn-sm btn-light-primary btn-create fs--14 br--8 me-4" (click)="openModal(content)">
                    <span class="svg-icon svg-icon-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1"
                                transform="rotate(-90 11.364 20.364)" fill="currentColor"></rect>
                            <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="currentColor"></rect>
                        </svg>
                    </span>
                    Thêm tùy chọn phòng</button>
            </div>
        </div>
        <div class="card-body w-100" [ngClass]="{'py-3': commonService.checkPermission('STAFF')}" *ngIf="listType?.length > 0; else noData">
            <div class="table-responsive table-bordered">
                <table class="table table-row-gray-300 align-middle gs-0 gy-4">
                    <thead>
                        <tr class="fw-bolder text-muted text-nowrap">
                            <!-- <th class="w-25px">
                                <div class="form-check form-check-sm form-check-custom form-check-solid">
                                    <input class="check-box" type="checkbox" />
                                </div>
                            </th> -->
                            <th class="min-w-50px text-gray-900 fw-bold">ID</th>
                            <th class="min-w-140px text-gray-900 fw-bold">Tên loại phòng</th>
                            <!-- <th class="min-w-140px text-gray-900 fw-bold">Hình ảnh</th> -->
                            <th class="min-w-140px text-gray-900 fw-bold">Số lượng người</th>
                            <th class="min-w-140px text-gray-900 fw-bold">Giá theo thời gian</th>
                            <th class="min-w-140px text-gray-900 fw-bold">Thời gian tạo</th>
                            <th class="min-w-100px text-gray-900 fw-bold" *ngIf="commonService.checkPermission('STAFF')">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let type of listType; index as i">
                            <!-- <td>
                                <div class="form-check form-check-sm form-check-custom form-check-solid">
                                    <input class="check-box" type="checkbox" />
                                </div>
                            </td> -->
                            <td>
                                <span class="fs--13 text-gray-600">{{type.id}}</span>
                            </td>
                            <td class="text-nowrap">
                                <h3 class="fs--13 fw-bolder text-gray-900 mb-1">{{type.roomTypeName}}</h3>
                            </td>
                            <!-- <td class="fs--13 text-gray-600">
                                <img *ngIf="type.photos?.length > 0" [src]="type.photos[0].url" alt="" width="60" height="60">
                            </td> -->
                            <td class="fs--13 text-gray-600">
                                {{type.numberCustomer}} người
                            </td>
                            <td class="fs--13 text-gray-600 text-nowrap">
                                <p class="mb-0">Giá theo giờ: {{type.priceHour | money}}</p>
                                <p class="mb-0">Giá theo ngày: {{type.priceDay | money}}</p>
                                <!-- <p class="mb-0">Giá qua đêm: {{type.priceNight | money}}</p>
                                <p class="mb-0">Giá theo tuần: {{type.priceWeek | money}}</p>
                                <p class="mb-0">Giá theo tháng: {{type.priceMonth | money}}</p> -->
                                <p class="text-danger">Giá theo phụ trội: {{type.priceOverHour | money}}/giờ</p>
                            </td>
                            <td class="fs--13 text-gray-600">
                                {{commonService.formatTime(type.createdDate, 'DD/MM/YYYY')}}
                            </td>
                            <td class="text-center" *ngIf="commonService.checkPermission('STAFF')">
                                <div ngbDropdown placement="bottom-right" class="d-inline-block action" >
                                    <a type="button" class="btn btn-outline-primary btn-sm" id="action"
                                        ngbDropdownToggle><i
                                            class='bx bx-dots-vertical-rounded text-gray-900 cursor-pointer'></i></a>
                                    <div ngbDropdownMenu aria-labelledby="action">
                                        <button ngbDropdownItem class="action-item br--8" *ngIf="commonService.checkPermission('STAFF')"
                                            (click)="navigate(type.id)">
                                            <span>Chỉnh sửa</span>
                                        </button>
                                        <!-- <button ngbDropdownItem class="action-item br--8" *ngIf="commonService.checkPermission('ADMIN')"
                                            (click)="deleteRoomType(type.id)">
                                            <span>Xóa loại phòng</span>
                                        </button> -->
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="mt-5 w-100" *ngIf="paging.total > 0">
                <app-pagination [paging]="paging" (change)="changePage($event)"></app-pagination>
            </div>
        </div>
        <ng-template #noData>
            <div class="text-center h-100 m-auto" *ngIf="!isLoading">
                <img src="../../../../assets/images/EmptyState.jpg" alt="">
                <p class="fs-3 text-gray-600 fw-bold">Không có dữ liệu tương ứng</p>
            </div>
        </ng-template>
    </div>
</ng-container>

<ng-template #content let-modal>
    <div class="modal-header">
        <h3 class="fs--18">{{detail ? 'Chỉnh sửa':'Thêm mới'}}</h3>
    </div>
    <div class="modal-body pt-0">
        <form [formGroup]="formOption" class="form">
            <div class="card-body border-top px-9 pt-9 pb-4">
                <div class="row mb-6">
                    <label class="col-sm-3 col-form-label required fw-bold fs-6">Tên</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control form-control-sm" formControlName="name"
                            [ngClass]="{'is-invalid': commonService.dirtyOrTouchFieldCheck('name', formOption)}" 
                            placeholder="Nhập tên"
                            (focusout)="commonService.onTrimOutForm($event, formOption, 'name')" />
                        <ng-container *ngFor="let validation of validator_option_value.name">
                            <span class="label text-danger"
                                *ngIf="commonService.dirtyOrTouchShowError('name', validation.type, formOption)">
                                {{validation.message}}
                            </span>
                        </ng-container>
                    </div>

                </div>
                <div class="row mb-6">
                    <label class="col-sm-3 col-form-label required fw-bold fs-6">Loại tùy chọn</label>
                    <div class="col-sm-9">
                        <ng-select [items]="ENUM_ROOM_OPTION" bindLabel="name" bindValue="name"
                            placeholder="Chọn giá trị"
                            [ngClass]="{'is-invalid': typeOption.invalid && (typeOption.touched || typeOption.dirty)}" 
                            class="form-select-sm w-100 p-0 border-0 form-control-sm"
                            formControlName="typeOption">
                        </ng-select>
                        <ng-container *ngFor="let validation of validator_option_value.typeOption">
                            <span class="label text-danger"
                                *ngIf="commonService.dirtyOrTouchShowError('typeOption', validation.type, formOption)">
                                {{validation.message}}
                            </span>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-end px-9">
                <button type="button" class="btn btn-secondary br--8 fs--14 btn-sm me-3" (click)="modal.close('close')">
                    <i class='bx bx-exit me-1 fs--20 fw-bold'></i>Hủy</button>
                <button type="button" class="btn btn-primary btn-sm fs--14" 
                (click)="onSubmitOption()" [disabled]="isLoading || formOption.invalid">
                    <i class='bx bx-save fs--20'></i>Lưu
                </button>
            </div>
        </form>
    </div>
</ng-template>

<app-loading [isLoading]="isLoading"></app-loading>