<h2 class="card-title" style="padding-bottom: 10px;">
    Dashboard
</h2>

<div class="card">
    <div class="card-body">
        <div class="form-group mt-4 col-sm-6">
            <app-date-picker (selectDate)="handleDate($event)" [time]="times"></app-date-picker>
        </div>
        <div class="d-flex align-items-start mt-4 col-sm-5">
            <button class="btn btn-light-primary d-flex align-items-center btn-sm w-auto me-3 br--8">
                <i class='bx bx-refresh fs--17'></i>Thiết lập lại</button>
            <button class="btn btn-primary btn-sm w-auto br--8"> <i class="bx bx-search fs--17"></i>Tìm kiếm</button>
        </div>
    </div>
</div>

<div class="mb-3 border-0 py-2 card">
    <ng-container *ngIf="chartOptions">
        <div class="row ">
            <div class="col-md-6" id="chart">
                <h3>Đặt phòng</h3>
                <apx-chart class="" [series]="chartOptions.series" [chart]="chartOptions.chart"
                    [labels]="chartOptions.labels">
                </apx-chart>
            </div>
            <!-- <div class="col-md-6">
                <h3>Lượng khách đặt phòng</h3>
                <div class="table-responsive table-bordered text-nowrap">
                    <table class="table table-row-gray-300 align-middle gs-0 gy-4">
                        <thead>
                            <tr class="fw-bolder text-muted text-nowrap">

                                <th class="min-w-140px text-gray-900 fw-bold">Thời gian</th>
                                <th class="min-w-140px text-gray-900 fw-bold">Lượng khách</th>
                                <th class="min-w-140px text-gray-900 fw-bold">Loại phòng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of time">

                                <td class="text-nowrap">
                                    <h3 class="fs--13 fw-bolder text-gray-900 mb-1">{{item}}</h3>
                                </td>
                                <td class="text-nowrap">
                                    100
                                </td>
                                <td>Phòng đôi</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div> -->
        </div>
    </ng-container>
</div>

<ng-container *ngIf="commonService.checkPermission('ADMIN') && chartOptions1">
    <div class="mb-3 border-0 py-2 card w-100" >
        <div id="chart" class="mx-auto" >
            <h3>Doanh thu</h3>
            <apx-chart [series]="chartOptions1.series" [chart]="chartOptions1.chart" [xaxis]="chartOptions1.xaxis"
                [stroke]="chartOptions1.stroke" [tooltip]="chartOptions1.tooltip"
                [dataLabels]="chartOptions1.dataLabels" [legend]="chartOptions1.legend"
                [markers]="chartOptions1.markers" [grid]="chartOptions1.grid" [yaxis]="chartOptions1.yaxis">
            </apx-chart>
        </div>
    </div>
</ng-container>

<app-loading [isLoading]="isLoading"></app-loading>