:host {
    width: 100%;

    @media (min-width: 992px) {
        .login-form {
            width: 100%;
            max-width: 400px;

            .mat-form-field {
                width: 100%;
            }
        }
    }
}

.login-form {
    max-height: 490px;
    margin: auto;

    &-item {
        padding: 0 40px 0 0;
        background-image: none;

        input:focus-visible {
            outline: none;
        }
        input {
            border-radius: 0;
        }
    }

    .login-google {
        border: 1px solid #A8ADAF !important;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05) !important;
        border-radius: 8px;
        padding: 8px 16px;
        color: #393E40;
        font-weight: 400;
    }
}

.login-or {
    position: relative;
    color: #A8ADAF;

    &::before {
        content: "";
        right: 60%;
        position: absolute;
        top: 50%;
        width: 40%;

        height: 1px;
        background: #A8ADAF;
    }

    &::after {
        left: 60%;
        content: "";
        position: absolute;
        top: 50%;
        width: 40%;
        height: 1px;
        background: #A8ADAF;
    }
}

.logo {
    max-width: 225px;

    img {
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 768px) {
    .logo {
        display: none;
    }
}
@media (max-width: 768px) {
    .mobile-login {
        display: flex;
        flex-direction: column;
    }
    .login-form {
        margin: 0;
    }
}