<!--begin::Form-->
<div class="w-lg-600px mx-auto d-flex flex-column justify-content-between h-100 px-10">
    <div class="text-center logo mx-auto">
        <img src="assets/images/accesstrade-logo.svg" alt="">
    </div>
    <div class="login-form m-auto login-form">
        <p class="fs--16 fw-bold mb-0" style="color: #005880;">Đăng nhập vào</p>
        <h1 class="mb-8 fw-bolder" style="color: #005880;">Trang quản trị</h1>
        <form class="form w-100" [formGroup]="loginForm" id="kt_login_signin_form"
            (ngSubmit)="submit()">
            <div class="fv-row mb-5">
                <div class="input-group input-group-lg form-control login-form-item mt-2"
                    [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched)}"
                >
                    <div class="input-group-prepend border-0">
                        <span
                            class="input-group-text border-0 form-control-lg form-control pe-0 h-100 bg-white"
                            style="min-width: 40px; background-image: none;"
                            id="inputGroup-sizing-lg-user"><i class='bx bx-user w-100 fs--18'></i></span>
                    </div>
                    <input
                        class="form-control border-0 bg-white form-control-lg"
                        type="email" name="email" formControlName="email" autocomplete="off"
                        placeholder="Tên đăng nhập hoặc email" 
                        (focusout)="onTrimEvent($event, 'email')" #emailInput/>
                </div>
                <ng-container *ngFor="let validation of validation_messages.email">
                    <div class="invalid-feedback"
                        *ngIf="commonService.dirtyOrTouchShowError('email', validation.type, loginForm)">
                        {{validation.message}}
                    </div>
                </ng-container>
            </div>
            <div class="fv-row mb-5 relative">
                <div class="input-group input-group-lg form-control login-form-item mt-2"
                    [ngClass]="{'is-invalid': password.invalid && (password.dirty || password.touched)}">
                    <div class="input-group-prepend border-0">
                        <span
                            class="input-group-text form-control-lg form-control border-0 pe-0 h-100 bg-white"
                            style="border-right: none; min-width: 40px;"
                            id="inputGroup-sizing-lg-password"><i class='bx bx-lock w-100 fs--18'></i></span>
                    </div>
                    <input
                        class="form-control bg-white form-control-lg border-0"
                        type="{{viewPass ? 'text' : 'password'}}" name="password" autocomplete="off"
                        formControlName="password" placeholder="Mật khẩu"
                        
                        (focusout)="onTrimEvent($event, 'password')"/>
                    <ng-container [ngSwitch]="viewPass">
                        <div (click)="viewPass = !viewPass">
                            <i *ngSwitchCase="true" class="bi bi-eye-slash absolute fs--23 cursor-pointer"
                                style="top: .75rem; right: .75rem"></i>
                            <i *ngSwitchDefault class="bi bi-eye absolute fs--23 cursor-pointer"
                                style="top: .75rem; right: .75rem"></i>
                        </div>
                    </ng-container>
                </div>
                <ng-container *ngFor="let validation of validation_messages.password">
                    <div class="invalid-feedback"
                        *ngIf="commonService.dirtyOrTouchShowError('password', validation.type, loginForm)">
                        {{validation.message}}
                    </div>
                </ng-container>
            </div>
            <!-- <div class="d-flex flex-row-reverse">
                <a routerLink="/auth/forgot-password" class="fs--16 fw-bolder" id="kt_login_forgot"
                    [style.margin-left]="'5px'">
                    Quên mật khẩu ?
                </a>
            </div> -->
            <p class="text-danger" *ngIf="dataError && dataError != '' ">{{dataError}}</p>
            <div class="text-center mt-4">
                <button type="submit" id="kt_sign_in_submit" style="font-weight: 400;" class="btn btn-lg cursor-pointer btn-primary fs--16 w-100 mb-5"
                    [disabled]="(isLoading$ | async) || loginForm.invalid">
                    <ng-container *ngIf="isLoading$ | async">
                        <span class="indicator-progress" [style.display]="'block'">
                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                        </span>
                    </ng-container>
                    <ng-container *ngIf="!(isLoading$ | async)">
                        <span class="indicator-label">Đăng nhập</span>
                    </ng-container>
                </button>

                <!-- <div class="text-center text-muted text-uppercase fs--16 fw-bolder mb-5 login-or w-100">HOẶC</div>

                <a class="btn btn-flex btn-light w-100 fs--16 mb-3 flex-center bg-white login-google">
                    <img class="h-20px me-3" src="assets/images/social-logo/google.svg" />
                    Đăng nhập bằng Google
                </a> -->
                <div class="d-flex w-100 text-left">
                    <span class="text-left fs--14 me-3 text-gray-600">Bạn chưa có tài khoản đăng nhập?</span> <a
                        class="fs--14"> Liên hệ với CSKH</a>
                </div>
            </div>
            <!--end::Action-->
        </form>
    </div>
    <!-- <div class="d-flex justify-content-between fw-bold fs--14 pb-sm-18">
        <a class="text-hover-primary px-2 cursor-pointer">Trợ giúp</a>
        <a class="text-hover-primary px-2 cursor-pointer">Chính sách bảo mật</a>
        <a class="text-hover-primary px-2 cursor-pointer">Điều khoản sử dụng</a>
    </div> -->
</div>