.switch {
    display: inline-block;
    height: 20px;
    position: relative;
    width: 35px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 0;
}

.switch input {
    display: none;
}

.switch .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.switch .slider:before {
    background-color: #fff;
    bottom: 3px;
    content: "";
    height: 14px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 13px;
    border-radius: 50%;
}

.switch input:checked+.slider {
    background-color: #66bb6a;
}

.switch input:checked+.slider:before {
    transform: translateX(14px);
}

.switch .slider.round {
    border-radius: 34px;
}

.switch .slider.round:before {
    border-radius: 50%;
}

::ng-deep .ng-slect.ng-select-form .ng-select-container {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #5E6278;
    background-color: #F5F8FA;
    background-clip: padding-box;
    border: 1px solid #E4E6EF;

    padding: 0.75rem 1rem;
    height: auto !important;
}

.check-box {
    border: 1px solid #747B7E !important;
    border-radius: 3px;
    background: #fff !important;
    height: 15px;
    width: 15px;
}
.action {
    #action{
        &:hover, &:focus {
            background: #F1FAFF;
        }
        &::after {
            content: none;
        }
    }
    .dropdown-item.active, .dropdown-item:active {
        background: #F1FAFF;
    }
}

.card-action {
    .card-action-btn,
    i {
        color: #7E8299 !important;
    }

    .card-action-btn:hover,
    .card-action-btn.btn-active {
        &, i {
            color: #fff !important;
        }
    }
}

.relative {
    position: relative;
}
.absolute {
    position: absolute;
}

.readonly {
    background: lightgray !important;
}

.plus-image {
    cursor: pointer;
    border: 1px dashed #cccccc;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin-bottom: 10px;
    position: relative;

    .ti-plus {
        font-size: 15px;
        color: #3699FF;
    }
    .icon-close, .icon-refresh {
        font-size: 15px;
    }
    .delete-image {
        position: absolute;
        align-items: center;
        justify-content: center;
        display: none;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        color: #fff;
        font-size: 30px;
    }
    &:hover {
        .delete-image {
            display: flex;
        }
    }
}

$class-name-separator: "--" !default;
  @function size($i) {
    @return #{$i}px ;
  }
  @mixin font-sizes {
    @for $i from 1 through 100 {
      &#{$class-name-separator}#{$i} {
        font-size: size($i) !important;
      }
    }
  }
  .fs {
    @include font-sizes
  }