<h2 class="card-title" style="padding-bottom: 10px;">
    {{detail ? 'Chỉnh sửa': 'Tạo mới'}} kiểu phòng
</h2>
<div class="card h-100 pt-4 mb-2">
    <div class="card-body py-3 w-100">
        <form [formGroup]="formRoomType">
            <div class="row mb-6">
                <div class="col-sm-6 row">
                    <label class="col-sm-4 col-form-label required fw-bold fs--14 text-right">Tên loại phòng</label>
                    <div class="col-sm-7 px-0 form-group mt-4">
                        <input type="text" id="code" name="roomTypeName" class="form-control form-control-sm fw-normal"
                            placeholder="Nhập tiêu đề" formControlName="roomTypeName"
                            [ngClass]="{'is-invalid': roomTypeName.invalid && (roomTypeName.touched || roomTypeName.dirty) }" />
                        <ng-container *ngFor="let validation of validator_value.roomTypeName">
                            <span class="label text-danger"
                                *ngIf="commonService.dirtyOrTouchShowError('roomTypeName', validation.type, formRoomType)">
                                {{validation.message}}
                            </span>
                        </ng-container>
                    </div>
                </div>
                <div class="col-sm-6 row">
                    <label class="col-sm-4 col-form-label required fw-bold fs--14 text-right">Số người</label>
                    <div class="col-sm-7 px-0 form-group mt-4 col-sm-4">
                        <input type="text" id="code" name="numberCustomer" class="form-control form-control-sm fw-normal"
                            placeholder="Nhập số lượng người" 
                            numbersOnly [onlyNumber]="true" [max]="30"
                            formControlName="numberCustomer"
                            [ngClass]="{'is-invalid': numberCustomer.invalid && (numberCustomer.touched || numberCustomer.dirty) }" />
                        <ng-container *ngFor="let validation of validator_value.numberCustomer">
                            <span class="label text-danger"
                                *ngIf="commonService.dirtyOrTouchShowError('numberCustomer', validation.type, formRoomType)">
                                {{validation.message}}
                            </span>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="form-group row mb-6">
                <label class="col-sm-2 pe-0 col-form-label required fw-bold fs--14 text-right">Hình ảnh</label>
                <div class="mb-2 col-sm-10 px-0 image row">
                    <div class="col-sm-2 mb-2 thumb-image ps-0" *ngFor="let itemFile of imageFiles; let i = index">
                        <div class="plus-image" (click)="clickInputFile($event, i)">
                            <i class="bx bx-plus fs--30" *ngIf="!itemFile.file"></i>
                            <img *ngIf="itemFile.file" style="width: 100%; height: 100%; object-fit: contain"
                                src="{{ itemFile.base64image }}">
                            <div class="delete-image" *ngIf="itemFile.file" (click)="$event.stopPropagation()">
                                <i class="bx bx-x-circle mr-5 fs--30" (click)="deleteImage($event, itemFile, i)"></i>
                                <i class="bx bx-refresh fs--30" (click)="clickInputFile($event, i)"></i>
                            </div>
                        </div>
                        <div class="mb-2 img-name" *ngIf="itemFile.file_name" data-toggle="tooltip"
                            data-placement="bottom" title="{{ itemFile.file_name }}"><small>{{ itemFile.file_name
                                }}</small></div>
                        <input type="file" class="form-control d-none" id="file_{{i}}"
                            (change)="onFileChanged($event, itemFile)" accept=".jpg,.jpeg,.png">
                    </div>
                </div>
            </div>

            <div class="row mb-6">
                <div class="col-sm-6 row">
                    <label class="col-sm-4 col-form-label required fw-bold fs--14 text-right">Giá theo giờ</label>
                    <div class="col-sm-7 px-0 form-group mt-4 col-sm-4">
                        <input type="text" id="code" name="priceHour" class="form-control form-control-sm fw-normal"
                            placeholder="Nhập giá theo giờ" 
                            numbersOnly [onlyNumber]="true" [max]="100000"
                            formControlName="priceHour"
                            [ngClass]="{'is-invalid': priceHour.invalid && (priceHour.touched || priceHour.dirty) }" />
                        <ng-container *ngFor="let validation of validator_value.priceHour">
                            <span class="label text-danger"
                                *ngIf="commonService.dirtyOrTouchShowError('priceHour', validation.type, formRoomType)">
                                {{validation.message}}
                            </span>
                        </ng-container>
                    </div>
                </div>
                <div class="col-sm-6 row">
                    <label class="col-sm-4 col-form-label required fw-bold fs--14 text-right">Giá theo ngày</label>
                    <div class="col-sm-7 px-0 form-group mt-4 col-sm-4">
                        <input type="text" id="code" name="priceDay" class="form-control form-control-sm fw-normal"
                            placeholder="Nhập theo ngày" 
                            numbersOnly [onlyNumber]="true" [max]="10000000"
                            formControlName="priceDay"
                            (onchange)="countPrice($event)"
                            [ngClass]="{'is-invalid': priceDay.invalid && (priceDay.touched || priceDay.dirty) }" />
                        <ng-container *ngFor="let validation of validator_value.priceDay">
                            <span class="label text-danger"
                                *ngIf="commonService.dirtyOrTouchShowError('priceDay', validation.type, formRoomType)">
                                {{validation.message}}
                            </span>
                        </ng-container>
                    </div>
                </div>
            </div>
            <!-- <div class="row mb-6">
                <div class="col-sm-6 row">
                    <label class="col-sm-4 col-form-label required fw-bold fs--14 text-right">Giá theo tuần</label>
                    <div class="col-sm-7 px-0 form-group mt-4 col-sm-4">
                        <input type="text" id="code" name="priceWeek" readonly class="form-control form-control-sm fw-normal"
                            placeholder="Nhập giá theo tuần" 
                            numbersOnly [onlyNumber]="true" [max]="1000000000"
                            formControlName="priceWeek"
                            [ngClass]="{'is-invalid': priceWeek.invalid && (priceWeek.touched || priceWeek.dirty) }" />
                        <ng-container *ngFor="let validation of validator_value.priceWeek">
                            <span class="label text-danger"
                                *ngIf="commonService.dirtyOrTouchShowError('priceWeek', validation.type, formRoomType)">
                                {{validation.message}}
                            </span>
                        </ng-container>
                    </div>
                </div>
            </div> -->

            <div class="row mb-6">
                <!-- <div class="col-sm-6 row">
                    <label class="col-sm-4 col-form-label required fw-bold fs--14 text-right">Giá theo tháng</label>
                    <div class="col-sm-7 px-0 form-group mt-4 col-sm-4">
                        <input type="text" id="code" name="priceMonth" readonly class="form-control form-control-sm fw-normal"
                            placeholder="Nhập giá theo tháng" 
                            numbersOnly [onlyNumber]="true" [max]="100000000000"
                            formControlName="priceMonth"
                            [ngClass]="{'is-invalid': priceMonth.invalid && (priceMonth.touched || priceMonth.dirty) }" />
                        <ng-container *ngFor="let validation of validator_value.priceMonth">
                            <span class="label text-danger"
                                *ngIf="commonService.dirtyOrTouchShowError('priceMonth', validation.type, formRoomType)">
                                {{validation.message}}
                            </span>
                        </ng-container>
                    </div>
                </div> -->
                <div class="col-sm-6 row">
                    <label class="col-sm-4 col-form-label required fw-bold fs--14 text-right">Giá quá giờ</label>
                    <div class="col-sm-7 px-0 form-group mt-4 col-sm-4">
                        <input type="text" id="code" name="priceOverHour" class="form-control form-control-sm fw-normal"
                            placeholder="Nhập giá quá giờ" 
                            numbersOnly [onlyNumber]="true" [max]="100000"
                            formControlName="priceOverHour"
                            [ngClass]="{'is-invalid': priceOverHour.invalid && (priceOverHour.touched || priceOverHour.dirty) }" />
                        <ng-container *ngFor="let validation of validator_value.priceOverHour">
                            <span class="label text-danger"
                                *ngIf="commonService.dirtyOrTouchShowError('priceOverHour', validation.type, formRoomType)">
                                {{validation.message}}
                            </span>
                        </ng-container>
                    </div>
                </div>
            </div>

            <div class="row mb-6">
                <label class="col-sm-2 pe-0 col-form-label required fw-bold fs--14 text-right">Thêm tùy chọn cho phòng </label>
                <div class="col-sm-10 px-0 form-group mt-4">
                    <ng-select [items]="listType" bindLabel="name" bindValue="id"
                            placeholder="Thêm tùy chọn cho phòng"
                            [multiple]="true"
                            [ngClass]="{'is-invalid': option.invalid && (option.touched || option.dirty)}" 
                            class="form-select-sm w-100 p-0 border-0 form-control-sm"
                            formControlName="option">
                        </ng-select>
                    <ng-container *ngFor="let validation of validator_value.option">
                        <span class="label text-danger"
                            *ngIf="commonService.dirtyOrTouchShowError('option', validation.type, formRoomType)">
                            {{validation.message}}
                        </span>
                    </ng-container>
                </div>
            </div>

            <div class="d-flex justify-content-end" style="margin-top: 100px;">
                <a class="btn btn-secondary br--8 fs--14 btn-sm me-3" [routerLink]="['/room/types']">
                    <i class='bx bx-exit me-1 fs--20 fw-bold'></i>Hủy</a>
                <button type="button" [disabled]="formRoomType.invalid || checkImg()"
                    class="btn btn-primary btn-sm fs--14" (click)="onSubmit()">
                    <i class='bx bx-save fs--20'></i>Lưu
                </button>
            </div>
        </form>

    </div>
</div>

<app-loading [isLoading]="isLoading"></app-loading>