#description.is-invalid {
    ::ng-deep .ql-toolbar.ql-snow, ::ng-deep .ql-container.ql-snow {
        border-color: #F1416C;
        // padding-right: calc(1.5em + 1.5rem);
        // // background-image: url('data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23F1416C'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23F1416C' stroke='none'/%3e%3c/svg%3e');
        // background-repeat: no-repeat;
        // background-position: right calc(0.375em + 0.375rem) center;
        // background-size: calc(0.75em + 0.75rem) calc(0.75em + 0.75rem);
    }
}