<h2 class="card-title" style="padding-bottom: 10px;" *ngIf="!id">
    Tạo mới bài viết
</h2>
<h2 class="card-title" style="padding-bottom: 10px;" *ngIf="id">
    Chỉnh sửa bài viết
</h2>
<div class="card h-100 pt-4 mb-2">
    <div class="card-body py-3 w-100">
        <form [formGroup]="formNew">
            <div class="row mb-6">
                <label class="col-sm-3 col-form-label required fw-bold fs-6">Tiêu đề</label>
                <div class="col-sm-9 px-0 form-group mt-4 col-sm-3">
                    <input type="text" id="code" name="title" class="form-control form-control-sm fw-normal"
                        (focusout)="commonService.onTrimOutForm($event, formNew, 'title')"
                        placeholder="Nhập tiêu đề" formControlName="title" [ngClass]="{'is-invalid': title.invalid && (title.touched || title.dirty) }" />
                    <ng-container *ngFor="let validation of validator_value.title">
                        <span class="label text-danger" *ngIf="dirtyOrTouchShowError(title, validation.type)">
                            {{validation.message}}
                        </span>
                    </ng-container>
                </div>

            </div>  
            <div class="form-group row mb-0">
                <label class="col-sm-3 col-form-label required fw-bold fs-6">Hình ảnh tiêu đề</label>

                <div class="mb-2 col-sm-9 px-0 image">
                    <div class="thumb-image mr-1 mb-2">
                        <div class="plus-image" (click)="clickInputFile($event, 'thumbImage')">
                            <i class="bx bx-plus fs--30" *ngIf="!thumbImage.file"></i>
                            <img *ngIf="thumbImage.file" style="width: 100%; height: 100%; object-fit: contain"
                                src="{{ thumbImage.base64image }}">
                            <div class="delete-image" *ngIf="thumbImage.file" (click)="$event.stopPropagation()">
                                <i class="bx bx-x-circle fs--30 mr-5" (click)="deleteImage($event, thumbImage, 1)"></i>
                                <i class="bx bx-refresh fs--30" (click)="clickInputFile($event, 'thumbImage')"></i>
                            </div>
                        </div>
                        <div class="mb-2 img-name" *ngIf="thumbImage.file_name" data-toggle="tooltip"
                            data-placement="bottom" title="{{ thumbImage.file_name }}"><small>{{ thumbImage.file_name
                                }}</small></div>
                        <input type="file" class="form-control d-none" id="file_thumbImage"
                            (change)="onFileChanged($event, thumbImage)" accept=".jpg,.jpeg,.png,.gif">
                    </div>
                </div>
            </div>
            <!-- <div class="row mb-6">
                <label class="col-sm-3 col-form-label required fw-bold fs-6">Mô tả ngắn</label>
                <div class="col-sm-9 form-group mt-4 px-0">
                    <input type="text" id="url" name="url" class="form-control form-control-sm fw-normal"
                        placeholder="Nhập đường dẫn" formControlName="short" />
                    <ng-container *ngFor="let validation of validator_value.short">
                        <span class="label text-danger" *ngIf="dirtyOrTouchShowError(short, validation.type)">
                            {{validation.message}}
                        </span>
                    </ng-container>
                </div>

            </div> -->
            <div class="row mb-6">
                <label class="col-sm-3 col-form-label required fw-bold fs-6">Nội dung tóm tắt</label>
                <div class="col-sm-9 px-0 form-group mt-4 col-sm-3">
                    <textarea id="description" 
                    formControlName="description"
                    (focusout)="commonService.onTrimOutForm($event, formNew, 'description')" 
                    class=" form-control"
                    rows="10"
                    [ngClass]="{'is-invalid': description.invalid && (description.touched || description.dirty)}"
                    placeholder="Nhập nội dung tóm tắt" 
                    >
                    </textarea>
                    <ng-container *ngFor="let validation of validator_value.short">
                        <span class="label text-danger" *ngIf="dirtyOrTouchShowError(description, validation.type)">
                            {{validation.message}}
                        </span>
                    </ng-container>
                </div>
            </div>

            <div class="row my-6">
                <label class="col-sm-3 col-form-label required fw-bold fs-6">Nội dung</label>
                <div style="height: 250px;" class="col-sm-9 px-0 form-group mt-4 col-sm-3">
                    <quill-editor id="description" 
                    formControlName="body" 
                    [ngClass]="{'is-invalid': body.invalid && (body.touched || body.dirty)}"
                    placeholder="Nhập nội dung cho bài viết..." 
                    (onEditorCreated)="quillDescription($event)"
                    #editor>
                    </quill-editor>
                    <ng-container *ngFor="let validation of validator_value.body">
                        <span class="label text-danger" *ngIf="dirtyOrTouchShowError(body, validation.type)">
                            {{validation.message}}
                        </span>
                    </ng-container>
                </div>
            </div>

            <div class="d-flex justify-content-end" style="margin-top: 100px;">
                <a class="btn btn-secondary br--8 fs--14 btn-sm me-3" [routerLink]="['/news']">
                    <i class='bx bx-exit me-1 fs--20 fw-bold'></i>Hủy</a>
                <button type="button" [disabled]="formNew.invalid || !thumbImage.file"
                    class="btn btn-primary btn-sm fs--14" (click)="onSubmit()">
                    <i class='bx bx-save fs--20'></i>Lưu
                </button>
            </div>
        </form>

    </div>
</div>

<app-loading [isLoading]="isLoading"></app-loading>