<!-- NOTIFICATIONS -->
<!-- <div class="d-flex align-items-center" [ngClass]="toolbarButtonMarginClass">
    <div class="btn btn-icon btn-active-light-primary position-relative" [ngClass]="toolbarButtonHeightClass"
        data-kt-menu-trigger="click" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end"
        data-kt-menu-flip="bottom">
        <span class="svg-icon" [ngClass]="toolbarButtonIconSizeClass">
            <i class='bx bx-envelope fs-1' ></i>
        </span>
    </div>
</div> -->
<div class="d-flex align-items-center" [ngClass]="toolbarButtonMarginClass">
    <div class="btn btn-icon btn-active-light-primary position-relative" [ngClass]="toolbarButtonHeightClass"
        data-kt-menu-trigger="click" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end"
        data-kt-menu-flip="bottom">
        <span class="svg-icon" [ngClass]="toolbarButtonIconSizeClass">
            <i class='bx bx-bell fs-1 '></i>
        </span>
    </div>
    <app-notifications-inner></app-notifications-inner>
</div>



<!-- begin::User -->
<div class="d-flex align-items-center" [ngClass]="toolbarButtonMarginClass" id="kt_header_user_menu_toggle">
    <!-- begin::Toggle -->
    <span class="fs-7 me-2" style="color: #6C7293;">Xin chào, {{userName}}</span>
    <div class="cursor-pointer symbol" [ngClass]="toolbarUserAvatarHeightClass" data-kt-menu-trigger="click"
        data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end" data-kt-menu-flip="bottom">
        <img [src]="(avatar && avatar != 'null') ? avatar : 'assets/images/no-avatar.png'" alt="metronic" style="border-radius:50%"/>
    </div>
    <!-- end::Toggle  -->
    <app-user-inner></app-user-inner>
</div>
<!-- end::User -->

<!-- <ng-container *ngIf="headerLeft === 'menu'">
    <div class="d-flex align-items-center d-lg-none ms-2 me-n3" title="Show header menu">
        <div class="
        btn btn-icon btn-active-light-primary
        w-30px
        h-30px
        w-md-40px
        h-md-40px
      " id="kt_header_menu_mobile_toggle">
            <span [inlineSVG]="'./assets/media/icons/duotune/text/txt001.svg'" class="svg-icon svg-icon-1"></span>
        </div>
    </div>
</ng-container> -->