<h2 class="card-title align-items-start flex-column" style="padding-bottom: 10px;">
    Vai trò
</h2>
<div class="card">
    <!-- <ng-template [ngIf]="commonService.checkPermission(permission.create)">
        <div class="card-header border-0 pt-5 mb-3">
            <div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover"
                title="Click to add a user">
                <a routerLink="/acl/role/create" class="btn btn-sm btn-light-primary fs--14">
                    Tạo mới
                </a>
            </div>
        </div>
    </ng-template> -->
    <div class="card-body py-3"  *ngIf="!isLoading">
        <ng-container *ngIf="listRoles?.length > 0">
            <div class="table-responsive">
                <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                    <thead>
                        <tr class="fw-bolder text-muted">
                            <th class="w-25px">ID</th>
                            <th class="">Tên</th>
                            <th class="">Mô tả</th>
                            <th class="">Các quyền tương ứng</th>
                            <ng-template [ngIf]="commonService.checkPermission(permission.update)">
                                <th class="text-end">Hành động</th>
                            </ng-template>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let role of listRoles">
                            <td>{{role.id}}</td>
                            <td class="text-nowrap">{{role.name}}</td>
                            <td>{{role.description}}</td>
                            <td>
                                <ng-template [ngIf]="role.permissions?.length > 0">
                                    <span *ngFor="let per of role.permissions, index as j">
                                        {{per.name}}<span class="me-1"
                                            *ngIf="j < role.permissions.length - 1 && role.permissions.length > 1">,
                                        </span>
                                    </span>
                                </ng-template>
                            </td>
                            <ng-template [ngIf]="commonService.checkPermission(permission.update)">
                                <td>
                                    <div class="d-flex justify-content-end flex-shrink-0">

                                        <a [routerLink]="'/acl/role/edit/' + role.id" 
                                            class="btn btn-icon btn-bg-light 
                                            btn-active-color-primary btn-sm
                                            me-1">    Edit
                                        </a>
                                    </div>
                                </td>
                            </ng-template>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-between mt-5 w-100">
                <app-pagination [paging]="paging" (change)="changePage($event)"></app-pagination>
            </div>
        </ng-container>
    </div>
</div>
<app-loading [isLoading]="isLoading"></app-loading>