<!-- <div class="w-100 align-top row">
    <div class="form-group mt-4 col-sm-3">
        <input type="text" id="orderCode" name="orderCode" class="form-control form-control-sm fw-normal"
            placeholder="Nhập mã phòng" [(ngModel)]="orderCode" />
    </div>
    <div class="form-group mt-4 col-sm-3">
        <input type="text" id="shippingCode" name="orderCode" class="form-control form-control-sm fw-normal"
            placeholder="Nhập mã vận đơn" [(ngModel)]="shippingCode" />
    </div>
    <div class="form-group mt-4 col-sm-3">
        <input type="text" id="phone" name="orderCode" class="form-control form-control-sm fw-normal"
            placeholder="Nhập số điện thoại KH" [(ngModel)]="phone" numbersOnly/>
    </div>
    <div class="form-group mt-4 col-sm-3">
        <input type="text" id="customer" name="orderCode" class="form-control form-control-sm fw-normal"
            placeholder="Nhập tên khách hàng" [(ngModel)]="customer" />
    </div>
    <div class="form-group mt-4 col-sm-3">
        <app-date-picker (selectDate)="selectDate($event)" [isReset]="isReset"></app-date-picker>
    </div>
    <div class="d-flex align-items-start mt-4 col-sm-5">
        <button class="btn btn-light-primary d-flex align-items-center btn-sm w-auto me-3 br--8" (click)="resetForm()">
            <i class='bx bx-refresh fs--17'></i>Thiết lập lại</button>
        <button class="btn btn-primary btn-sm w-auto br--8" (click)="filterOrder()"> <i
                class="bx bx-search fs--17"></i>Tìm kiếm</button>
    </div>
</div> -->